leo_workflow_patched.json
{"name": "Leos Workflow", "nodes": [{"parameters": {"updates": ["*"], "additionalFields": {"download": true}}, "type": "n8n-nodes-base.telegramTrigger", "typeVersion": 1.2, "position": [-240, -288], "id": "fc7b5df9-2d73-48d4-92e8-c5fc21dee837", "name": "Telegram Trigger", "webhookId": "2fe01d2f-680c-47bd-86c6-7bb24893afb9", "credentials": {"telegramApi": {"id": "dSI1mdlTrzwdd1B8", "name": "Telegram account"}}}, {"parameters": {"promptType": "define", "text": "={{ $('Context Builder').first().json.agentInput }}", "options": {"systemMessage": "=You are Leo, the chief intelligence officer for Landtek \u2014 an evidence-grade, agentic property management system. You think like a senior executive assistant, legal analyst, and strategic advisor combined. You never forget, you always learn, and you continuously evolve your understanding of every client, case, and matter.\n\n## Identity\nYou have access to a full database of clients, cases, conversations, documents, action items, and strategic intelligence. Before responding, always check what you know. Never say you don't know something without searching first.\n\n## Owner\nJonathan Zschoche \u2014 Telegram ID 6513067717\n- Supreme authority. Execute all instructions immediately.\n- Always send a private strategic summary after every interaction.\n- Never withhold, soften, or delay information.\n- End every summary with one clear question or recommended action.\n\n## Active Cases\n- Paracale-001 \u2014 Allan V. Inocalla, Paracale Gold Mining Company\n- MWK-001 \u2014 Heirs of Mary Worrick Keesey, Estate Administration\n- Owner \u2014 Jonathan's direct operational instructions\n\n## Intelligence Rules\nIdentify clients from context, never ask for case codes:\n- \"Worrick / Mary / estate / heir / executor / beneficiary / administrator\" \u2192 MWK-001\n- \"Allan / Inocalla / Paracale / mining / gold / PGC\" \u2192 Paracale-001\n- Jonathan without case context \u2192 Owner\n- Multiple people can be linked to one case with different roles\n- Always honor prior authorizations from Jonathan\n\n## Contact Role Framework\nEvery person has a role: primary | administrator | heir | legal | government | associate | unknown\nWhen Jonathan authorizes someone \u2014 record their role, link to case, mark authorized.\nWhen unknown contact appears \u2014 create profile immediately with what you know.\n\n## Agentic Behavior\nYou are not just a responder \u2014 you are a proactive intelligence system:\n- Identify what is missing before being asked\n- Flag risks before they become problems  \n- Create action items for every unresolved matter\n- Connect dots across cases, people, and documents\n- Anticipate Jonathan's next question and answer it before he asks\n- When unsure \u2014 ask one precise clarifying question, never multiple\n\n## Memory Architecture\nYou have access to:\n- Qdrant \u2014 full semantic search across all history\n- Postgres \u2014 structured client, case, conversation, document data\n- Google Drive \u2014 all filed documents\nAlways search before responding. Context from history supersedes assumptions.\n\n## Evidence Standards\nEvery interaction is evidence-grade:\n- Timestamped and categorized\n- Strategically annotated\n- Cross-referenced to case file\n- Stored permanently \u2014 nothing is ever deleted\n- Suitable for legal proceedings if required\n\n## After Every Interaction\n1. Reply to client professionally\n2. Update case intelligence with new information learned\n3. Create action items for anything unresolved\n4. Log strategic insight if something significant was learned\n5. Brief Jonathan privately \u2014 what happened, what it means, what's next\n\n## Folder Routing\n- Legal documents \u2192 Legal/\n- Financial \u2192 Finance/\n- Evidence/disputes \u2192 Evidence/\n- Property photos \u2192 Projects/\n- Text conversations \u2192 Conversations/\n- Email correspondence \u2192 Correspondence/\n- Unidentified \u2192 Inbox/Unclassified/\n\n## Output\nSingle valid JSON object. No markdown fences. No explanations. Start with { end with }\n\n{\n  \"message_type\": \"file | text_only\",\n  \"case_file\": \"Owner | Paracale-001 | MWK-001 | UNKNOWN-[telegramId]\",\n  \"classification\": \"Legal | Finance | Evidence | Compliance | Meeting Notes | Owner Instruction | Maintenance | Correspondence | Other\",\n  \"drive_folder_path\": \"\",\n  \"smart_filename\": \"\",\n  \"context_md_content\": \"\",\n  \"case_intelligence_update\": {\n    \"current_goals\": \"\",\n    \"next_milestone\": \"\",\n    \"key_risks\": \"\",\n    \"open_gaps\": \"\",\n    \"intelligence_summary\": \"\"\n  },\n  \"create_action_item\": false,\n  \"action_items\": [\n    {\"description\": \"\", \"due_date\": \"\", \"priority\": \"High | Medium | Low\"}\n  ],\n  \"intelligence_insight\": \"\",\n  \"new_contact_detected\": false,\n  \"create_new_client\": false,\n  \"new_client_data\": {\n    \"name\": \"\",\n    \"telegram_id\": \"\",\n    \"telegram_username\": \"\",\n    \"phone\": \"\",\n    \"email\": \"\",\n    \"case_file\": \"\",\n    \"role\": \"\",\n    \"primary_case_file\": \"\"\n  },\n  \"authorize_contact\": false,\n  \"authorization_data\": {\n    \"telegram_id\": \"\",\n    \"role\": \"\",\n    \"case_file\": \"\",\n    \"authorized_by\": \"Jonathan\"\n  },\n  \"needs_clarification\": false,\n  \"clarification_question\": \"\",\n  \"create_evidence_bundle\": false,\n  \"email_update\": \"\",\n  \"phone_update\": \"\",\n  \"telegram_username_update\": \"\",\n  \"target_chat_id\": \"\",\n  \"target_message\": \"\",\n  \"telegram_reply_to_client\": \"\",\n  \"telegram_summary_for_jonathan\": \"\"\n}"}}, "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 3.1, "position": [224, -272], "id": "4a438efe-de1f-4b4f-abd6-672ed7d01648", "name": "AI Agent"}, {"parameters": {"model": {"__rl": true, "mode": "list", "value": "claude-sonnet-4-5-20250929", "cachedResultName": "Claude Sonnet 4.5"}, "options": {}}, "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic", "typeVersion": 1.3, "position": [224, -80], "id": "d66606f2-5ea4-4bde-b50e-053638e062a8", "name": "Anthropic Chat Model", "credentials": {"anthropicApi": {"id": "VXehGYFvTPT2EZJB", "name": "Anthropic account"}}}, {"parameters": {"chatId": "={{ $('Parse Agent1').first().json.chatId }}\n", "text": "={{ $json.clarification_question }}", "additionalFields": {"appendAttribution": false}}, "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [704, -128], "id": "d9669ae6-9409-47f0-9917-fe46a0019c52", "name": "Ask Clarification", "webhookId": "6e0e1ea3-4911-482e-ac26-cea3ec5abe63", "credentials": {"telegramApi": {"id": "dSI1mdlTrzwdd1B8", "name": "Telegram account"}}}, {"parameters": {"name": "={{ $json.smart_filename }}", "driveId": {"__rl": true, "value": "My Drive", "mode": "list", "cachedResultName": "My Drive"}, "folderId": {"__rl": true, "value": "={{ $json.drive_folder_id }}", "mode": "id"}, "options": {}}, "type": "n8n-nodes-base.googleDrive", "typeVersion": 3, "position": [1040, 320], "id": "3d2e563b-dc69-46f8-9c48-6720b8c530fa", "name": "Upload file", "credentials": {"googleDriveOAuth2Api": {"id": "6KyIcqTperzB77MB", "name": "Google Drive account"}}}, {"parameters": {"operation": "createFromText", "content": "={{ $json.context_md_content }}", "name": "={{ $json.case_file + '_Context.md' }}", "driveId": {"__rl": true, "mode": "list", "value": "My Drive"}, "folderId": {"__rl": true, "value": "=142QmpKv2DvWjJ46nhOq_C8HhN6xD4Zjy", "mode": "id"}, "options": {}}, "type": "n8n-nodes-base.googleDrive", "typeVersion": 3, "position": [1200, 368], "id": "ffcb6a19-62a2-45ef-926a-d7c2a9ff17dd", "name": "Create file from text", "credentials": {"googleDriveOAuth2Api": {"id": "6KyIcqTperzB77MB", "name": "Google Drive account"}}}, {"parameters": {"resource": "file", "fileId": "={{ $json.fileId }}", "additionalFields": {}}, "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [720, 256], "id": "562c87df-2f4e-4d04-91bd-93d88862c9f3", "name": "Get a file", "webhookId": "d1bbfdad-5a7c-47e8-8ad8-424eedbdf28e", "credentials": {"telegramApi": {"id": "dSI1mdlTrzwdd1B8", "name": "Telegram account"}}}, {"parameters": {"operation": "update", "documentId": {"__rl": true, "value": "1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ", "mode": "list", "cachedResultName": "Landtek Clients", "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ/edit?usp=drivesdk"}, "sheetName": {"__rl": true, "value": 85374455, "mode": "list", "cachedResultName": "Clients", "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ/edit#gid=85374455"}, "columns": {"mappingMode": "defineBelow", "value": {"Phone": "={{ $json.sheetUpdates['Phone'] }}", "Email ": "={{ $json.sheetUpdates['Email'] }}", "Open Strategic Gaps": "={{ $json.sheetUpdates['Open Strategic Gaps'] }}", "Last Leo Review": "={{ $json.sheetUpdates['Last Leo Review'] }}", "Telegram Username": "={{ $json.sheetUpdates['Telegram Username'] }}", "Client Intelligence Summary": "={{ $json.sheetUpdates['Client Intelligence Summary'] }}", "Priority Level": "={{ $json.sheetUpdates['Priority Level'] }}", "Key Risks": "={{ $json.sheetUpdates['Key Risks'] }}", "Next Milestone": "={{ $json.sheetUpdates['Next Milestone'] }}", "row_number": "={{ $json.rowNumber }}"}, "matchingColumns": ["row_number"], "schema": [{"id": "Client ID", "displayName": "Client ID", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Name", "displayName": "Name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Company", "displayName": "Company", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Case File", "displayName": "Case File", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Status", "displayName": "Status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Instructions / Style", "displayName": "Instructions / Style", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Current Goals", "displayName": "Current Goals", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Project Status", "displayName": "Project Status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": true}, {"id": "Next Milestone", "displayName": "Next Milestone", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Key Risks", "displayName": "Key Risks", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Priority Level", "displayName": "Priority Level", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Legal Folder Path", "displayName": "Legal Folder Path", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Finance Folder Path", "displayName": "Finance Folder Path", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Project Folder Path", "displayName": "Project Folder Path", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Last Updated", "displayName": "Last Updated", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "LeoLandTek Notes", "displayName": "LeoLandTek Notes", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Client Intelligence Summary", "displayName": "Client Intelligence Summary", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Last Leo Review", "displayName": "Last Leo Review", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Open Strategic Gaps", "displayName": "Open Strategic Gaps", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Email ", "displayName": "Email ", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Phone", "displayName": "Phone", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Telegram Username", "displayName": "Telegram Username", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "row_number", "displayName": "row_number", "required": false, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": true, "readOnly": true, "removed": false}], "attemptToConvertTypes": false, "convertFieldsToString": false}, "options": {}}, "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.7, "position": [1440, 448], "id": "f515aaa2-daca-4f2d-afef-c33ca08e6fec", "name": "Update row in sheet", "credentials": {"googleSheetsOAuth2Api": {"id": "UIpfEo8bJKRbhDrG", "name": "Google Sheets account 3"}}, "onError": "continueRegularOutput"}, {"parameters": {"jsCode": "const input = $input.first().json;\n\n// Skip sheet update if no row number\nif (!input.rowNumber) {\n  return [{\n    json: {\n      ...input,\n      sheetUpdates: {},\n      skipUpdate: true\n    }\n  }];\n}\n\nconst updates = {};\n\nif (input.status_update && input.status_update.trim() !== \"\") {\n  updates[\"Project Status\"] = input.status_update.trim();\n}\nif (input.next_milestone && input.next_milestone.trim() !== \"\") {\n  updates[\"Next Milestone\"] = input.next_milestone.trim();\n}\nif (input.key_risks && input.key_risks.trim() !== \"\") {\n  updates[\"Key Risks\"] = input.key_risks.trim();\n}\nif (input.priority_level && input.priority_level.trim() !== \"\") {\n  updates[\"Priority Level\"] = input.priority_level.trim();\n}\nif (input.client_intelligence_update && input.client_intelligence_update.trim() !== \"\") {\n  updates[\"Client Intelligence Summary\"] = input.client_intelligence_update.trim();\n}\nif (input.open_strategic_gaps && input.open_strategic_gaps.trim() !== \"\") {\n  updates[\"Open Strategic Gaps\"] = input.open_strategic_gaps.trim();\n}\nif (input.email_update && input.email_update.trim() !== \"\") {\n  updates[\"Email\"] = input.email_update.trim();\n}\nif (input.phone_update && input.phone_update.trim() !== \"\") {\n  updates[\"Phone\"] = input.phone_update.trim();\n}\nif (input.telegram_username_update && input.telegram_username_update.trim() !== \"\") {\n  updates[\"Telegram Username\"] = input.telegram_username_update.trim();\n}\n\nupdates[\"Last Leo Review\"] = new Date().toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    ...input,\n    sheetUpdates: updates,\n    rowNumber: input.rowNumber\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1328, 240], "id": "690afef6-b57e-4788-999f-0a7172d155fe", "name": "Prep sheet update"}, {"parameters": {"chatId": "6513067717", "text": "={{ $json.telegram_summary_for_jonathan }}", "additionalFields": {"appendAttribution": false}}, "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [1840, -224], "id": "434de6c7-dc5e-4a15-b8af-ffc4c2316f49", "name": "Reply to Jonathan", "webhookId": "fa453536-384a-40ec-8b96-df4f4e40a650", "credentials": {"telegramApi": {"id": "dSI1mdlTrzwdd1B8", "name": "Telegram account"}}}, {"parameters": {"rules": {"values": [{"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "cd216594-0ae5-4a62-a5b0-0c5c53e6a2c7", "leftValue": "={{ $json.message_type }}", "rightValue": "file", "operator": {"type": "string", "operation": "equals", "name": "filter.operator.equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "file_ack"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"leftValue": "={{ $json.needs_clarification }}", "rightValue": "", "operator": {"type": "boolean", "operation": "true", "singleValue": true}, "id": "5db3e41e-f09a-43fc-8dd7-9a9b26f7fb69"}], "combinator": "and"}, "renameOutput": true, "outputKey": "clarification"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "9592f8eb-67a3-46b5-9319-c93a51dcb52a", "leftValue": "={{ $json.new_contact_detected }}", "rightValue": "", "operator": {"type": "boolean", "operation": "true", "singleValue": true}}], "combinator": "and"}, "renameOutput": true, "outputKey": "new_contact"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "43c1c05f-24fb-48f3-96c4-1f647d25d21c", "leftValue": "={{ $json.create_new_client }}", "rightValue": "", "operator": {"type": "boolean", "operation": "true", "singleValue": true}}], "combinator": "and"}, "renameOutput": true, "outputKey": "create_client"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "d3ee3a71-e400-4c17-943b-deb1480d01bd", "leftValue": "={{ $json.message_type }}", "rightValue": "text_only", "operator": {"type": "string", "operation": "equals", "name": "filter.operator.equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "process_text"}]}, "options": {"fallbackOutput": "extra", "allMatchingOutputs": false}}, "type": "n8n-nodes-base.switch", "typeVersion": 3.4, "position": [576, 0], "id": "354ae590-8607-40c2-b607-5877ee9d8588", "name": "Switch router"}, {"parameters": {"chatId": "={{ $('Parse Agent1').first().json.chatId }}", "text": "={{ $('Parse Agent1').first().json.telegram_reply_to_client }}", "additionalFields": {"appendAttribution": false, "parse_mode": "Markdown"}}, "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [1776, 272], "id": "009b7ed8-53b0-408f-8347-4cdd16474104", "name": "Reply to Client", "webhookId": "a5c18774-8fd2-4b64-890a-9e805e45580a", "credentials": {"telegramApi": {"id": "dSI1mdlTrzwdd1B8", "name": "Telegram account"}}}, {"parameters": {"jsCode": "const aiOutput = $input.first().json || {};\nconst context = $('Context Builder').first().json || {};\n\nlet raw = aiOutput.output || \"\";\nraw = raw.toString().trim();\nconst start = raw.indexOf('{');\nconst end = raw.lastIndexOf('}');\nconst extracted = (start !== -1 && end > start) ? raw.substring(start, end + 1) : \"\";\n\nlet parsed;\ntry {\n  parsed = JSON.parse(extracted);\n} catch (e) {\n  parsed = {\n    needs_clarification: true,\n    clarification_question: \"Sorry, I had trouble processing that. Please try again.\",\n    message_type: \"text_only\",\n    case_file: \"Unknown\",\n    telegram_reply_to_client: \"Sorry, I encountered a processing error. Please try again.\",\n    telegram_summary_for_jonathan: \"Parse error on last message \u2014 please review manually.\",\n    case_intelligence_update: {},\n    action_items: [],\n    new_contact_detected: false,\n    create_new_client: false,\n    new_client_data: {},\n    authorize_contact: false,\n    authorization_data: {},\n    target_chat_id: \"\",\n    target_message: \"\"\n  };\n}\n\n// Inject context from Context Builder\nparsed.chatId = context.chatId || \"\";\nparsed.isJonathan = context.isJonathan || false;\nparsed.isUnknown = context.isUnknown || false;\nparsed.fileId = context.fileId || null;\nparsed.fileName = context.fileName || null;\nparsed.senderId = context.senderId || \"\";\nparsed.senderName = context.senderName || \"\";\nparsed.rawText = context.rawText || \"\";\nparsed.clientRow = context.clientRow || null;\nparsed.timestamp = new Date().toISOString();\n\n// Normalize core fields\nparsed.message_type = parsed.message_type || context.messageType || \"text_only\";\nparsed.case_file = parsed.case_file || context.caseFile || \"Unknown\";\n\n// Normalize new fields with safe defaults\nparsed.case_intelligence_update = parsed.case_intelligence_update || {};\nparsed.case_intelligence_update.current_goals = parsed.case_intelligence_update.current_goals || \"\";\nparsed.case_intelligence_update.next_milestone = parsed.case_intelligence_update.next_milestone || \"\";\nparsed.case_intelligence_update.key_risks = parsed.case_intelligence_update.key_risks || \"\";\nparsed.case_intelligence_update.open_gaps = parsed.case_intelligence_update.open_gaps || \"\";\nparsed.case_intelligence_update.intelligence_summary = parsed.case_intelligence_update.intelligence_summary || \"\";\n\nparsed.action_items = parsed.action_items || [];\nparsed.intelligence_insight = parsed.intelligence_insight || \"\";\n\nparsed.new_contact_detected = parsed.new_contact_detected || false;\nparsed.create_new_client = parsed.create_new_client || false;\nparsed.new_client_data = parsed.new_client_data || {};\nparsed.new_client_data.name = parsed.new_client_data.name || context.senderName || \"\";\nparsed.new_client_data.telegram_id = parsed.new_client_data.telegram_id || context.senderId || \"\";\nparsed.new_client_data.telegram_username = parsed.new_client_data.telegram_username || context.senderUsername || \"\";\nparsed.new_client_data.phone = parsed.new_client_data.phone || \"\";\nparsed.new_client_data.email = parsed.new_client_data.email || \"\";\nparsed.new_client_data.case_file = parsed.new_client_data.case_file || parsed.case_file || \"\";\nparsed.new_client_data.role = parsed.new_client_data.role || \"unknown\";\nparsed.new_client_data.primary_case_file = parsed.new_client_data.primary_case_file || \"\";\n\nparsed.authorize_contact = parsed.authorize_contact || false;\nparsed.authorization_data = parsed.authorization_data || {};\n\nparsed.needs_clarification = parsed.needs_clarification || false;\nparsed.clarification_question = parsed.clarification_question || \"\";\nparsed.create_evidence_bundle = parsed.create_evidence_bundle || false;\n\nparsed.email_update = parsed.email_update || \"\";\nparsed.phone_update = parsed.phone_update || \"\";\nparsed.telegram_username_update = parsed.telegram_username_update || \"\";\nparsed.target_chat_id = parsed.target_chat_id || \"\";\nparsed.target_message = parsed.target_message || \"\";\nparsed.telegram_reply_to_client = parsed.telegram_reply_to_client || \"\";\nparsed.telegram_summary_for_jonathan = parsed.telegram_summary_for_jonathan || \"\";\n\nreturn [{ json: parsed }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [432, 64], "id": "d1357899-3310-414c-a4c0-15c81af159d1", "name": "Parse Agent1"}, {"parameters": {"jsCode": "const data = $('Parse Agent1').first().json || {};\n\nconst safeClientReply = (data.telegram_reply_to_client && data.telegram_reply_to_client.trim() !== \"\")\n  ? data.telegram_reply_to_client\n  : !data.rowNumber \n    ? \"Hello! I'm LeoLandTek, the Landtek property management assistant. Please share your full name, contact number, and how we can help you today. Someone from our team will follow up shortly.\"\n    : \"Thank you. I've noted your message and will process it accordingly.\";\n\nconst safeJonathanSummary = (data.telegram_summary_for_jonathan && data.telegram_summary_for_jonathan.trim() !== \"\")\n  ? data.telegram_summary_for_jonathan\n  : \"New message received and processed.\";\n\nreturn [{\n  json: {\n    ...data,\n    telegram_reply_to_client: safeClientReply,\n    telegram_summary_for_jonathan: safeJonathanSummary,\n    target_chat_id: data.target_chat_id || \"\",\n    target_message: data.target_message || \"\"\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1632, -96], "id": "150c8379-5c06-473d-af4b-98a7b23499ae", "name": "Safe Reply"}, {"parameters": {"operation": "append", "documentId": {"__rl": true, "value": "1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ", "mode": "list", "cachedResultName": "Landtek Clients", "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ/edit?usp=drivesdk"}, "sheetName": {"__rl": true, "value": 85374455, "mode": "list", "cachedResultName": "Clients", "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ/edit#gid=85374455"}, "columns": {"mappingMode": "defineBelow", "value": {"Client ID": "={{ $json.chatId }}", "Name": "={{ $json.new_client_data.name }}", "Company": "={{ $json.new_client_data.company }}", "Case File": "={{ $json.new_client_data.case_file }}", "Status": "Active", "Email ": "={{ $json.new_client_data.email }}", "Phone": "={{ $json.new_client_data.phone }}", "Instructions / Style": "={{ $json.new_client_data.notes }}"}, "matchingColumns": [], "schema": [{"id": "Client ID", "displayName": "Client ID", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Name", "displayName": "Name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Company", "displayName": "Company", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Case File", "displayName": "Case File", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Status", "displayName": "Status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Instructions / Style", "displayName": "Instructions / Style", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Current Goals", "displayName": "Current Goals", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Project Status", "displayName": "Project Status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Next Milestone", "displayName": "Next Milestone", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Key Risks", "displayName": "Key Risks", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Priority Level", "displayName": "Priority Level", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Legal Folder Path", "displayName": "Legal Folder Path", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Finance Folder Path", "displayName": "Finance Folder Path", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Project Folder Path", "displayName": "Project Folder Path", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Last Updated", "displayName": "Last Updated", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "LeoLandTek Notes", "displayName": "LeoLandTek Notes", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Client Intelligence Summary", "displayName": "Client Intelligence Summary", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Last Leo Review", "displayName": "Last Leo Review", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Open Strategic Gaps", "displayName": "Open Strategic Gaps", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Email ", "displayName": "Email ", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Phone", "displayName": "Phone", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Telegram Username", "displayName": "Telegram Username", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}], "attemptToConvertTypes": false, "convertFieldsToString": false}, "options": {}}, "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.7, "position": [1136, -224], "id": "0e4e3402-7ce6-4132-b86c-ad0e3cfb4f87", "name": "Create New Client Row", "credentials": {"googleSheetsOAuth2Api": {"id": "UIpfEo8bJKRbhDrG", "name": "Google Sheets account 3"}}}, {"parameters": {"chatId": "={{ $('Safe Reply').first().json.target_chat_id }}", "text": "={{ $('Safe Reply').first().json.target_message }}", "additionalFields": {"appendAttribution": false}}, "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [2624, 96], "id": "ead8697b-3f7e-4e0b-9625-9e2e014ef0d3", "name": "Send to Target Contact", "webhookId": "b372ac02-2d63-49b1-b744-8158d38728ea", "credentials": {"telegramApi": {"id": "dSI1mdlTrzwdd1B8", "name": "Telegram account"}}}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "6b522820-1958-4867-a0d4-3c83663d57bf", "leftValue": "={{ $json.target_chat_id }}", "rightValue": "", "operator": {"type": "string", "operation": "notEmpty", "singleValue": true}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [1408, -464], "id": "3c846d8b-5e4f-4ef5-9950-f368d28840a8", "name": "If"}, {"parameters": {"jsCode": "const d = $('Parse Agent1').first().json;\n\nreturn [{\n  json: {\n    timestamp: new Date().toISOString(),\n    telegramId: d.senderId || \"\",\n    clientName: d.clientRow?.['Name'] || d.senderName || \"Unknown\",\n    company: d.clientRow?.['Company'] || \"\",\n    caseFile: d.case_file || \"\",\n    messageCaption: (d.rawText || \"\").substring(0, 300),\n    fileName: d.fileName || \"\",\n    leoResponse: (d.telegram_summary_for_jonathan || \"\").substring(0, 300),\n    category: d.classification || \"\",\n    strategicPurpose: (d.context_md_content || \"\").substring(0, 300)\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1040, 176], "id": "7c35c230-1121-4b88-93e1-af727bf351a8", "name": "Code in JavaScript"}, {"parameters": {"modelName": "models/gemini-embedding-001"}, "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini", "typeVersion": 1, "position": [-240, -80], "id": "bdea36d8-c0e3-492d-9c64-ebb091b16643", "name": "Embeddings Google Gemini", "credentials": {"googlePalmApi": {"id": "HzbNMxmpVEtb7ANj", "name": "Google Gemini(PaLM) Api account"}}}, {"parameters": {"jsCode": "const msg = $('Telegram Trigger').first().json.message || {};\nconst senderId = msg.from?.id?.toString() || \"\";\nconst senderName = [msg.from?.first_name, msg.from?.last_name].filter(Boolean).join(\" \") || \"Unknown\";\nconst senderUsername = msg.from?.username || \"\";\nconst isJonathan = senderId === \"6513067717\";\nconst hasFile = !!(msg.document || msg.photo || msg.audio || msg.video || msg.voice);\nconst messageType = hasFile ? \"file\" : \"text_only\";\nconst rawText = msg.caption || msg.text || \"\";\n\n// Get client data from Postgres\nconst clientRow = $input.first().json;\nconst caseFile = clientRow?.case_file || rawText.match(/[A-Za-z]+-\\d{3}/)?.[0] || \"Unknown\";\n\n// Build recent conversation history\nconst recentConvs = clientRow?.recent_conversations || [];\nconst conversationHistory = recentConvs\n  .map(r => `[${r.timestamp || ''}] Sender: ${r.message_caption || ''} | Leo: ${r.leo_response || ''}`)\n  .join('\\n');\n\n// Build client profile\nconst clientProfile = clientRow?.name ? `Client Name: ${clientRow.name || \"\"}\nCompany: ${clientRow.company || \"\"}\nCase File: ${clientRow.case_file || \"\"}\nStatus: ${clientRow.status || \"\"}\nInstructions: ${clientRow.instructions || \"\"}\nCurrent Goals: ${clientRow.current_goals || \"\"}\nProject Status: ${clientRow.project_status || \"\"}\nNext Milestone: ${clientRow.next_milestone || \"\"}\nKey Risks: ${clientRow.key_risks || \"\"}\nPriority: ${clientRow.priority_level || \"\"}\nEmail: ${clientRow.email || \"\"}\nPhone: ${clientRow.phone || \"\"}\nTelegram Username: ${clientRow.telegram_username || \"\"}\nLegal Folder Path: ${clientRow.legal_folder_path || \"\"}\nFinance Folder Path: ${clientRow.finance_folder_path || \"\"}\nProject Folder Path: ${clientRow.project_folder_path || \"\"}\nClient Intelligence Summary: ${clientRow.client_intelligence_summary || \"\"}\nOpen Strategic Gaps: ${clientRow.open_strategic_gaps || \"\"}`\n: \"No matching client profile found.\";\n\n// Build file info\nlet fileInfo = \"No file attached.\";\nif (hasFile) {\n  const doc = msg.document || {};\n  const photo = msg.photo?.[msg.photo.length - 1] || {};\n  fileInfo = `File type: ${msg.document ? \"document\" : msg.photo ? \"photo\" : \"other\"}\nOriginal filename: ${doc.file_name || \"unnamed\"}\nMIME type: ${doc.mime_type || \"unknown\"}\nFile size: ${doc.file_size || photo.file_size || \"unknown\"} bytes`;\n}\n\nconst agentInput = `SENDER:\nName: ${senderName}\nTelegram ID: ${senderId}\nTelegram Username: ${senderUsername}\nIs Jonathan (owner): ${isJonathan}\n\nMESSAGE TYPE: ${messageType}\nTIMESTAMP: ${new Date().toISOString()}\n\nRAW MESSAGE / CAPTION:\n${rawText || \"(no text provided)\"}\n\nFILE INFO:\n${fileInfo}\n\nCLIENT PROFILE:\n${clientProfile}\n\nRECENT CONVERSATION HISTORY (last 4):\n${conversationHistory || \"No previous conversations\"}`;\n\nreturn [{\n  json: {\n    agentInput,\n    messageType,\n    isJonathan,\n    senderId,\n    senderName,\n    senderUsername,\n    caseFile,\n    clientRow,\n    rawText,\n    hasFile,\n    fileId: hasFile ? (msg.document?.file_id || msg.photo?.[msg.photo.length-1]?.file_id || null) : null,\n    fileName: msg.document?.file_name || null,\n    chatId: msg.chat?.id?.toString() || \"\"\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [96, -144], "id": "a84d1949-efd4-439b-b742-7e260dbc4079", "name": "Context Builder"}, {"parameters": {"operation": "executeQuery", "query": "SELECT \n  c.*,\n  (\n    SELECT json_agg(conv)\n    FROM (\n      SELECT timestamp, client_name, message_caption, leo_response, category\n      FROM conversations\n      WHERE case_file = c.case_file\n      ORDER BY timestamp DESC\n      LIMIT 4\n    ) conv\n  ) as recent_conversations,\n  (\n    SELECT json_agg(items)\n    FROM (\n      SELECT description, due_date, status, priority\n      FROM action_items\n      WHERE case_file = c.case_file\n      AND status = 'Open'\n      ORDER BY id DESC\n      LIMIT 5\n    ) items\n  ) as open_action_items\nFROM clients c\nLEFT JOIN cases ca ON ca.case_file = c.case_file\nWHERE c.telegram_id = '{{ $json.message.from.id }}'\nLIMIT 1", "options": {"queryReplacement": "={{ $json.message.from.id.toString() }}, {{ $json.message.from.username || '' }}"}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-32, -288], "id": "e08caa1a-dfc5-4d54-b34b-806731b19def", "name": "Execute a SQL query", "alwaysOutputData": true, "credentials": {"postgres": {"id": "kPUGFA1HrZZFWnzI", "name": "Postgres account 2"}}}, {"parameters": {"operation": "executeQuery", "query": "UPDATE cases SET\n  current_goals = CASE WHEN $1 != '' THEN $1::text ELSE current_goals END,\n  next_milestone = CASE WHEN $2 != '' THEN $2::text ELSE next_milestone END,\n  key_risks = CASE WHEN $3 != '' THEN $3::text ELSE key_risks END,\n  open_gaps = CASE WHEN $4 != '' THEN $4::text ELSE open_gaps END,\n  intelligence_summary = CASE WHEN $5 != '' THEN $5::text ELSE intelligence_summary END,\n  updated_at = NOW()\nWHERE case_file = $6\n  AND $6 NOT LIKE 'UNKNOWN%';", "options": {"queryReplacement": "={{ [\n  $('Parse Agent1').first().json.case_intelligence_update.current_goals,\n  $('Parse Agent1').first().json.case_intelligence_update.next_milestone,\n  $('Parse Agent1').first().json.case_intelligence_update.key_risks,\n  $('Parse Agent1').first().json.case_intelligence_update.open_gaps,\n  $('Parse Agent1').first().json.case_intelligence_update.intelligence_summary,\n  $('Parse Agent1').first().json.case_file\n] }}"}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1632, 96], "id": "bd3b9f77-1b75-4584-984e-484537bf584d", "name": "Update Case Intelligence", "credentials": {"postgres": {"id": "kPUGFA1HrZZFWnzI", "name": "Postgres account 2"}}, "continueOnFail": true, "onError": "continueRegularOutput"}, {"parameters": {"jsCode": "const parsed = $('Parse Agent1').first().json;\nconst items = parsed.action_items || [];\nconst caseFile = parsed.case_file || 'Unknown';\n\nif (!items.length) return [{ json: { skip: true } }];\n\nreturn items.map(item => ({\n  json: {\n    case_file: caseFile,\n    description: item.description || '',\n    due_date: item.due_date || null,\n    priority: item.priority || 'Medium',\n    created_by: 'Leo'\n  }\n}));"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1824, 32], "id": "6ad09b73-ae15-4aa2-9d10-6fac680a6cf2", "name": "Split Action Items"}, {"parameters": {"schema": {"__rl": true, "mode": "list", "value": "public"}, "table": {"__rl": true, "value": "action_items", "mode": "list", "cachedResultName": "action_items"}, "columns": {"mappingMode": "defineBelow", "value": {"case_file": "={{ $json.case_file }}", "due_date": "={{ $json.due_date }}", "priority": "={{ $json.priority }}", "created_by": "={{ $json.created_by }}", "description": "={{ $json.description }}", "status": "Open"}, "matchingColumns": [], "schema": [{"id": "id", "displayName": "id", "required": false, "defaultMatch": true, "display": true, "type": "number", "canBeUsedToMatch": true, "removed": false}, {"id": "case_file", "displayName": "case_file", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false}, {"id": "description", "displayName": "description", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false}, {"id": "due_date", "displayName": "due_date", "required": false, "defaultMatch": false, "display": true, "type": "dateTime", "canBeUsedToMatch": false}, {"id": "status", "displayName": "status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false}, {"id": "priority", "displayName": "priority", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false}, {"id": "created_by", "displayName": "created_by", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false}, {"id": "completed_at", "displayName": "completed_at", "required": false, "defaultMatch": false, "display": true, "type": "dateTime", "canBeUsedToMatch": false}, {"id": "created_at", "displayName": "created_at", "required": false, "defaultMatch": false, "display": true, "type": "dateTime", "canBeUsedToMatch": false}, {"id": "updated_at", "displayName": "updated_at", "required": false, "defaultMatch": false, "display": true, "type": "dateTime", "canBeUsedToMatch": false}], "attemptToConvertTypes": false, "convertFieldsToString": false}, "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1984, 16], "id": "290421dc-cdca-446d-ba8c-3ee3cc123d6d", "name": "Insert Action Items", "credentials": {"postgres": {"id": "kPUGFA1HrZZFWnzI", "name": "Postgres account 2"}}, "continueOnFail": true, "onError": "continueRegularOutput"}, {"parameters": {"schema": {"__rl": true, "mode": "list", "value": "public"}, "table": {"__rl": true, "value": "documents", "mode": "list", "cachedResultName": "documents"}, "columns": {"mappingMode": "defineBelow", "value": {"conversation_id": "={{ $('Log Conversation').first().json.id }}", "case_file": "={{ $('Parse Agent1').first().json.case_file }}", "original_filename": "={{ $('Parse Agent1').first().json.fileName }}", "smart_filename": "={{ $('Parse Agent1').first().json.smart_filename }}", "drive_link": "={{ $json.webViewLink }}", "classification": "={{ $('Parse Agent1').first().json.classification }}", "mime_type": "={{ $('Parse Agent1').first().json.mime_type }}", "strategic_relevance": "={{ $('Parse Agent1').first().json.context_md_content }}"}, "matchingColumns": ["id"], "schema": [{"id": "id", "displayName": "id", "required": false, "defaultMatch": true, "display": true, "type": "number", "canBeUsedToMatch": true, "removed": true}, {"id": "timestamp", "displayName": "timestamp", "required": false, "defaultMatch": false, "display": true, "type": "dateTime", "canBeUsedToMatch": true, "removed": true}, {"id": "case_file", "displayName": "case_file", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "original_filename", "displayName": "original_filename", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "smart_filename", "displayName": "smart_filename", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "drive_link", "displayName": "drive_link", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "mime_type", "displayName": "mime_type", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "extracted_text", "displayName": "extracted_text", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "classification", "displayName": "classification", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "strategic_relevance", "displayName": "strategic_relevance", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "conversation_id", "displayName": "conversation_id", "required": false, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": true, "removed": false}, {"id": "created_at", "displayName": "created_at", "required": false, "defaultMatch": false, "display": true, "type": "dateTime", "canBeUsedToMatch": true, "removed": true}], "attemptToConvertTypes": false, "convertFieldsToString": false}, "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [848, 256], "id": "cb6cd2a3-4953-47b5-9a07-47c50658f355", "name": "Log File Receipt1", "credentials": {"postgres": {"id": "kPUGFA1HrZZFWnzI", "name": "Postgres account 2"}}}, {"parameters": {"schema": {"__rl": true, "mode": "list", "value": "public"}, "table": {"__rl": true, "value": "conversations", "mode": "list", "cachedResultName": "conversations"}, "columns": {"mappingMode": "defineBelow", "value": {"sent_to_jonathan": true, "telegram_id": "={{ $('Context Builder').first().json.senderId }}", "client_name": "={{ $('Context Builder').first().json.senderName }}", "case_file": "={{ $('Parse Agent1').first().json.case_file }}", "message_caption": "={{ $('Context Builder').first().json.rawText }}", "leo_response": "={{ $('Parse Agent1').first().json.telegram_summary_for_jonathan }}", "category": "={{ $('Parse Agent1').first().json.classification }}", "strategic_purpose": "={{ $('Parse Agent1').first().json.context_md_content }}"}, "matchingColumns": ["id"], "schema": [{"id": "id", "displayName": "id", "required": false, "defaultMatch": true, "display": true, "type": "number", "canBeUsedToMatch": true, "removed": true}, {"id": "timestamp", "displayName": "timestamp", "required": false, "defaultMatch": false, "display": true, "type": "dateTime", "canBeUsedToMatch": true, "removed": true}, {"id": "telegram_id", "displayName": "telegram_id", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "client_name", "displayName": "client_name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "company", "displayName": "company", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "case_file", "displayName": "case_file", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "message_caption", "displayName": "message_caption", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "file_name", "displayName": "file_name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "drive_link", "displayName": "drive_link", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "leo_response", "displayName": "leo_response", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "category", "displayName": "category", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "strategic_purpose", "displayName": "strategic_purpose", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "sent_to_jonathan", "displayName": "sent_to_jonathan", "required": false, "defaultMatch": false, "display": true, "type": "boolean", "canBeUsedToMatch": true}, {"id": "notes", "displayName": "notes", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}], "attemptToConvertTypes": false, "convertFieldsToString": false}, "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1456, 64], "id": "6b40ed04-65b6-495d-a34a-800751ef322d", "name": "Log Conversation", "credentials": {"postgres": {"id": "kPUGFA1HrZZFWnzI", "name": "Postgres account 2"}}}, {"parameters": {"method": "POST", "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent?key=AIzaSyCAYfXQrsrAolaGhSzAcFat7g6NzBIMQbQ", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "{\n  \"model\": \"models/gemini-embedding-001\",\n  \"content\": {\n    \"parts\": [{\n      \"text\": \"{{ $('Parse Agent1').first().json.case_file + ' | ' + $('Context Builder').first().json.rawText + ' | ' + $('Parse Agent1').first().json.telegram_summary_for_jonathan }}\"\n    }]\n  },\n  \"outputDimensionality\": 768\n}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2208, 240], "id": "f48a2c64-921f-4a80-9db3-f71d53dcd523", "name": "Gemini Embed"}, {"parameters": {"method": "PUT", "url": "https://6ac62f30-e965-4b10-84f2-ce95caa09a4d.australia-southeast1-0.gcp.cloud.qdrant.io/collections/landtek_conversations/points", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "bodyParameters": {"parameters": [{"name": "points", "value": "={{ [{ id: $('Log Conversation').first().json.id, vector: $json.embedding.values, payload: { case_file: $('Parse Agent1').first().json.case_file, client_name: $('Context Builder').first().json.senderName, message: $('Context Builder').first().json.rawText, category: $('Parse Agent1').first().json.classification, timestamp: $('Parse Agent1').first().json.timestamp } }] }}"}]}, "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2432, 240], "id": "8e2a67ab-4058-4177-b016-b9bda8265da3", "name": "Qdrant Write", "credentials": {"httpHeaderAuth": {"id": "IpeNX6bgxvP87KMz", "name": "Qdrant Cloud (api-key)"}}}, {"parameters": {"jsCode": "// Resolve Drive folder ID based on case_file + classification\nconst caseFile = $('Parse Agent1').first().json.case_file;\nconst classification = $('Parse Agent1').first().json.classification;\n\n// Default inbox for Owner / unknown / unmapped cases\nconst FALLBACK = '142QmpKv2DvWjJ46nhOq_C8HhN6xD4Zjy';\n\nconst folders = {\n  'Paracale-001': {\n    'Legal':    '1TKMNbNxnns0FdtEuvEPMLISnnmmy46jx',\n    'Finance':  '1qbKEeoj9yv-OcxxodAH9ec_oAwPkps_r',\n    'Evidence': '1EHYKQJxOZTxDxB5BliyuC0fvq5M2Tmhe',\n    'default':  '1TKMNbNxnns0FdtEuvEPMLISnnmmy46jx'  // Legal as default for Paracale-001\n  },\n  'MWK-001': {\n    'Legal':    '1y3w8gIS8SG66J2npfKhKQibOUpqwUTUi',\n    'Finance':  '1-LlWNPW7rzVYFsz_7gFl0cMjlA9kw1F0',\n    'Evidence': '176U9wV-8jsCtDp0hCuj-hff2J6h0BrEs',\n    'default':  '1y3w8gIS8SG66J2npfKhKQibOUpqwUTUi'  // Legal as default for MWK-001\n  }\n};\n\n// If case is Owner, unknown, empty, or not in our map \u2192 fallback inbox\nconst caseFolders = folders[caseFile];\nlet folderId;\nif (!caseFolders || caseFile === 'Owner' || !caseFile) {\n  folderId = FALLBACK;\n} else {\n  folderId = caseFolders[classification] || caseFolders['default'];\n}\n\nconst input = $input.first();\nreturn [{\n  json: {\n    ...input.json,\n    drive_folder_id: folderId,\n    drive_folder_case: caseFile || 'unknown',\n    drive_folder_classification: classification || 'unknown',\n    drive_folder_routed_to_fallback: folderId === FALLBACK\n  },\n  binary: input.binary\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [928, 256], "id": "1ce7114d-bb96-4ec9-8053-79df04b47d16", "name": "Resolve Folder ID"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"id": "f8f46ca1-c918-446a-99c9-eeac1c61d569", "leftValue": "={{ $('Parse Agent1').first().json.target_message }}", "rightValue": "", "operator": {"type": "string", "operation": "notEmpty", "singleValue": true}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [2592, 240], "id": "87f45d04-f34f-4b8f-865f-9fbc0c00c3b1", "name": "Has Target Contact"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"id": "9851b272-aabf-48a4-9c72-7e6f30e7c864", "leftValue": "={{ $json.message_type }}", "rightValue": "file", "operator": {"type": "string", "operation": "equals", "name": "filter.operator.equals"}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [640, 272], "id": "b21fde9b-9e81-4ce8-ab99-fb11cee52e20", "name": "Has File"}], "connections": {"Telegram Trigger": {"main": [[{"node": "Execute a SQL query", "type": "main", "index": 0}]]}, "Anthropic Chat Model": {"ai_languageModel": [[{"node": "AI Agent", "type": "ai_languageModel", "index": 0}]]}, "AI Agent": {"main": [[{"node": "Parse Agent1", "type": "main", "index": 0}]]}, "Upload file": {"main": [[{"node": "Log File Receipt1", "type": "main", "index": 0}]]}, "Create file from text": {"main": [[{"node": "Prep sheet update", "type": "main", "index": 0}]]}, "Get a file": {"main": [[{"node": "Resolve Folder ID", "type": "main", "index": 0}]]}, "Prep sheet update": {"main": [[{"node": "Update row in sheet", "type": "main", "index": 0}]]}, "Update row in sheet": {"main": [[{"node": "Safe Reply", "type": "main", "index": 0}]]}, "Switch router": {"main": [[{"node": "Safe Reply", "type": "main", "index": 0}], [{"node": "Ask Clarification", "type": "main", "index": 0}], [{"node": "Safe Reply", "type": "main", "index": 0}], [{"node": "Create New Client Row", "type": "main", "index": 0}], [{"node": "Prep sheet update", "type": "main", "index": 0}], [{"node": "Safe Reply", "type": "main", "index": 0}]]}, "Reply to Client": {"main": [[]]}, "Parse Agent1": {"main": [[{"node": "Switch router", "type": "main", "index": 0}, {"node": "Has File", "type": "main", "index": 0}, {"node": "Log Conversation", "type": "main", "index": 0}]]}, "Safe Reply": {"main": [[{"node": "Reply to Client", "type": "main", "index": 0}, {"node": "Reply to Jonathan", "type": "main", "index": 0}, {"node": "If", "type": "main", "index": 0}]]}, "Create New Client Row": {"main": [[{"node": "Reply to Jonathan", "type": "main", "index": 0}]]}, "If": {"main": [[{"node": "Log Conversation", "type": "main", "index": 0}]]}, "Code in JavaScript": {"main": [[{"node": "Safe Reply", "type": "main", "index": 0}]]}, "Embeddings Google Gemini": {"ai_embedding": [[]]}, "Context Builder": {"main": [[{"node": "AI Agent", "type": "main", "index": 0}]]}, "Reply to Jonathan": {"main": [[]]}, "Execute a SQL query": {"main": [[{"node": "Context Builder", "type": "main", "index": 0}]]}, "Split Action Items": {"main": [[{"node": "Insert Action Items", "type": "main", "index": 0}]]}, "Log File Receipt1": {"main": [[]]}, "Insert Action Items": {"main": [[{"node": "Gemini Embed", "type": "main", "index": 0}]]}, "Log Conversation": {"main": [[{"node": "Update Case Intelligence", "type": "main", "index": 0}]]}, "Gemini Embed": {"main": [[{"node": "Qdrant Write", "type": "main", "index": 0}]]}, "Update Case Intelligence": {"main": [[{"node": "Split Action Items", "type": "main", "index": 0}]]}, "Qdrant Write": {"main": [[{"node": "Has Target Contact", "type": "main", "index": 0}]]}, "Resolve Folder ID": {"main": [[{"node": "Upload file", "type": "main", "index": 0}]]}, "Has Target Contact": {"main": [[{"node": "Send to Target Contact", "type": "main", "index": 0}], []]}, "Has File": {"main": [[{"node": "Get a file", "type": "main", "index": 0}], []]}}, "settings": {"executionOrder": "v1", "binaryMode": "separate"}, "staticData": null}