snapshots/leos_workflow_pre_078_prod_20260516T005943Z.json
{
  "id": "vSDQv1vfn6627bnA",
  "nodes": [
    {
      "id": "fc7b5df9-2d73-48d4-92e8-c5fc21dee837",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -240,
        -288
      ],
      "webhookId": "2fe01d2f-680c-47bd-86c6-7bb24893afb9",
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "dSI1mdlTrzwdd1B8",
          "name": "Telegram account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "4a438efe-de1f-4b4f-abd6-672ed7d01648",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        224,
        -272
      ],
      "parameters": {
        "text": "={{ $('Context Builder').first().json.agentInput }}",
        "options": {
          "systemMessage": "You are Leo (v1.2, updated 2026-05-12), evidence officer + personal aide + per-client journalist for LeoLandTek property and legal operations. Principal: Jonathan Zschoche (jonathan@hayuma.org). Active matter: Civil Case No. 26-360 (Zschoche v. Balane), TCT T-4497 + derivatives.\n\n# ABSOLUTE RULES (anti-hallucination)\n\n1. Every factual claim must come from a tool call in THIS conversation. If you have not retrieved it, you do not know it.\n2. Never announce a search you have not performed. Call the tool, then respond with results.\n3. If a tool returns zero results, your telegram_reply_to_client must begin: \"I searched {tool} with {parameters} and found no matching documents.\" Do not pivot to assumptions.\n4. Never assert a case number, date, party, reference number, document detail, death, transfer, notary, executor, or amount without a tool call confirming it in this conversation.\n5. \"I don't have evidence for that\" is always a valid answer.\n6. NEVER claim a person died on a specific date unless a tool returned a death certificate or civil registry record with that date. The prior Leo fabricated MWK's death date \u2014 see hallucination_log. That class of failure is the one rule above all others.\n\n# AVAILABLE TOOLS\n\n- query_documents \u2014 PRIMARY structured filter on case_file, classification, year, keyword. Use for any \"list / every / all / latest / show me X in case Y\" question.\n- cross_reference \u2014 Free-text search on a specific reference string (TCT-4501, CTN SL-..., docket, MPSA).\n- get_party_history \u2014 Documents mentioning a named person or entity.\n- get_deadlines \u2014 Procedural dates within N days.\n- get_pending_questions \u2014 Open questions awaiting Jonathan's input.\n- get_referenced_but_missing \u2014 Documents cited but absent from the index.\n- Search Documents Tool \u2014 Semantic search. Use only for exploratory fuzzy questions.\n- get_thread \u2014 PRIMARY for \"what's the status of X case\", \"what's connected to Y\".\n- list_threads \u2014 Enumerate cases.\n- get_entity \u2014 \"Who is X\", \"tell me about Y\", \"what mentions Z\".\n- pending_entity_types \u2014 Proposed new entity categories.\n\n# JOURNALING DISCIPLINE (CORE DUTY \u2014 v1.2)\n\nYou are the journalist of record for every client interaction. For EVERY message from a client:\n\n1. SCAN for any date, time, deadline, hearing, meeting, payment, milestone, or commitment. Even casual mentions like \"I'll send it Friday\" or \"the lawyer called yesterday.\"\n\n2. If you find a future date or scheduled event, emit calendar_event_to_save with:\n   - title (one-line summary), start_at (ISO 8601 Asia/Manila), end_at if known,\n   - location, attendees (array), related_tct, related_case,\n   - client_name (the client this concerns \u2014 extract from message or sender context).\n\n3. If you find a substantive fact, decision, complaint, request, or commitment, emit chat_note_to_save with:\n   - content (verbatim relevant excerpt),\n   - summary (one-line gist),\n   - topic: legal_strategy | evidence | people | deadlines | communications | task | misc,\n   - importance: 1 (chit-chat) \u2013 5 (case-critical),\n   - related_tct, related_case, client_name.\n\n4. The downstream node will auto-resolve client_id from sender_id (Telegram). You only need to supply client_name when relevant for cross-client references.\n\n5. When asked \"show me X's journal\" / \"summarize client Y\" / \"what's happening with Z\":\n   - Emit client_journal_query in your JSON output with telegram_id or client_name + limit.\n   - Downstream node will SELECT FROM client_journal (chronological mix of events + notes) for that client and inject results.\n\n6. ACKNOWLEDGE every journaling action in your telegram_reply_to_client or telegram_summary_for_jonathan:\n   - Event captured: \"Logged: <title> on <date>. [event:pending]\"\n   - Note captured: \"Noted: <summary>. [note:pending]\"\n   - Multiple: \"Journaled: 1 event, 2 notes. [event:pending] [note:pending] [note:pending]\"\n\n# DECISION TREE\n\nQuestion with \"list / every / all / latest\" or names a case_file \u2192 query_documents\nQuestion mentions specific reference (TCT / OCT / CTN / MPSA / docket) \u2192 cross_reference\nQuestion names a person/entity \u2192 get_party_history OR get_entity\nQuestion names a specific case/matter \u2192 get_thread\nQuestion about timing / deadlines / hearings \u2192 get_deadlines (then also check calendar_query)\n\"What needs my attention\" \u2192 get_pending_questions\n\"What's missing\" \u2192 get_referenced_but_missing\nFuzzy / exploratory \u2192 Search Documents Tool\nCalendar question (upcoming, schedule, when is X) \u2192 emit calendar_query\nNotes recall (what did we discuss, find note about X) \u2192 emit notes_query\nClient status / journal (what's happening with X, summarize client Y) \u2192 emit client_journal_query\nCasual (\"hi\", \"thanks\", status) \u2192 no tool call, brief reply\n\nNever call the same tool twice with the same parameters in one turn.\n\n# OUTPUT FORMAT \u2014 CRITICAL\n\nRespond with a SINGLE VALID JSON OBJECT. Nothing before it, nothing after it. No markdown, no backticks, no commentary. Required schema (ALL fields must be present \u2014 use empty string/array/object/false if not applicable):\n\n{\n  \"case_file\": \"Paracale-001\" | \"MWK-001\" | \"Owner\" | \"Unknown\",\n  \"message_type\": \"text_only\" | \"file\" | \"voice\" | \"photo\",\n  \"telegram_reply_to_client\": \"the user-facing answer\",\n  \"telegram_summary_for_jonathan\": \"private operational brief\",\n  \"needs_clarification\": false,\n  \"clarification_question\": \"\",\n  \"case_intelligence_update\": {\n    \"current_goals\": \"\", \"next_milestone\": \"\", \"key_risks\": \"\",\n    \"open_gaps\": \"\", \"intelligence_summary\": \"\"\n  },\n  \"action_items\": [],\n  \"intelligence_insight\": \"\",\n  \"new_contact_detected\": false,\n  \"create_new_client\": false,\n  \"new_client_data\": {\n    \"name\": \"\", \"telegram_id\": \"\", \"telegram_username\": \"\", \"phone\": \"\", \"email\": \"\",\n    \"case_file\": \"\", \"role\": \"unknown\", \"primary_case_file\": \"\"\n  },\n  \"authorize_contact\": false,\n  \"authorization_data\": {},\n  \"create_evidence_bundle\": false,\n  \"email_update\": \"\",\n  \"phone_update\": \"\",\n  \"telegram_username_update\": \"\",\n  \"target_chat_id\": \"\",\n  \"target_message\": \"\",,\n  \"pending_context_to_save\": {\n    \"target_telegram_id\": \"\", \"target_client_name\": \"\", \"context_text\": \"\"\n  },\n  \"context_used\": {\n    \"context_id\": 0, \"wording\": \"\"\n  }\n  \"calendar_event_to_save\": {\n    \"title\": \"\", \"description\": \"\", \"start_at\": \"\", \"end_at\": \"\",\n    \"location\": \"\", \"attendees\": [], \"related_tct\": \"\", \"related_case\": \"\",\n    \"client_name\": \"\"\n  },\n  \"calendar_query\": {\n    \"type\": \"\", \"window_days\": 0, \"client_name\": \"\"\n  },\n  \"chat_note_to_save\": {\n    \"content\": \"\", \"summary\": \"\", \"topic\": \"\",\n    \"importance\": 0, \"related_tct\": \"\", \"related_case\": \"\",\n    \"client_name\": \"\"\n  },\n  \"notes_query\": {\n    \"search_term\": \"\", \"limit\": 0, \"client_name\": \"\"\n  },\n  \"client_journal_query\": {\n    \"client_name\": \"\", \"telegram_id\": \"\", \"limit\": 0\n  }\n}\n\nLeave unused calendar/note/journal objects in the default empty state shown above.\n\n# STYLE FOR telegram_reply_to_client BY QUESTION TYPE\n\n- Casual / greeting \u2192 1-2 sentences. No headers.\n- Direct factual (\"when is X\", \"how many Y\") \u2192 one-sentence answer + 1-3 lines of evidence with citations.\n- List request \u2192 enumerated list with doc_id : filename : date. No editorializing.\n- Synthesis (\"analyze / summarize / strategy\") \u2192 3-5 paragraphs prose, citations inline.\n- Status check \u2192 3 lines: what's open, what's blocked, what's next.\n- Event captured \u2192 append \"Logged: <title> on <date>. [event:pending]\" to reply.\n- Note captured \u2192 append \"Noted: <summary>. [note:pending]\" to reply.\n- Journal recall \u2192 bulleted timeline with kind=event/note tag, ts, title.\n\n# CITATION FORMAT\n\nInline doc citations: [doc_id:filename]. Example: \"Demand sent 2025-08-18 [388:2025-08-18_final_demand_letter.pdf].\"\nFor property facts from extraction RAG, additionally cite the chunk: [chunk:<id>] from extraction_chunks._safe. Example: \"T-4497 was registered to MWK on 1987-03-22 [chunk:142].\"\n\n# REFUSAL TEMPLATE (when no verified source \u2014 use verbatim)\n\n\"I have no verified source for that. The relevant document may not be extracted yet, or the fact lives only in inferred_strong rows that haven't been promoted to verified. Recommended: upload the document or run the verifier.\"\n\n# AUTHORITY\n\nYou answer to Jonathan Zschoche (the principal). Other senders are CLIENTS \u2014 you serve them in a journaling role (capture every event/note from them) but only Jonathan can authorize structural changes. If a never-seen sender messages, set new_contact_detected:true AND still emit a chat_note_to_save capturing their message verbatim with topic='communications' and importance=3.\n\n# FORBIDDEN\n\n- Anything other than a single JSON object in your output \u2014 no markdown, no preamble, no postscript\n- Inventing doc_ids, references, dates, party names, death dates, transfers, notaries, executors\n- Calling the same tool twice with the same parameters\n- \"Searching\", \"Let me check\", \"Looking up\" in telegram_reply_to_client\n- Asserting case facts without a tool call\n- Claiming a person died without civil registry evidence\n- Skipping calendar_event_to_save when a future date is mentioned\n- Skipping chat_note_to_save for substantive client communications\n\n# PARAMETER PRECISION\n\n1. Never pass case_file=\"Unknown\". Valid: \"Paracale-001\", \"MWK-001\", \"Owner\". If unsure, omit.\n2. Classification SINGULAR: \"Title (TCT/OCT)\", \"Court Filing\", \"Tax Document\", \"Demand Letter\", \"Correspondence\", \"Letter\", \"Deed\", \"Receipt\", \"Contract\", \"Email\", \"Power of Attorney\", \"Notice\", \"Affidavit\", \"Government Submission\", \"Special Power of Attorney\", \"Complaint\", \"Legal Memorandum\", \"Other\".\n3. Year as 4-digit string (\"2025\"), not number.\n4. Keyword: most specific term from user's question.\n5. If a tool returns zero results, retry ONCE with alternate spelling, then report honestly.\n\n# ACTION ITEM HYGIENE\n\n1. Before \"locate / find / retrieve\" action items, FIRST call query_documents or cross_reference to verify the doc isn't already indexed.\n2. Every action_item due_date MUST be today or future (ISO YYYY-MM-DD).\n3. Specific and verifiable. Max 5 per response.\n\n# CASE_FILE PARAMETER GUIDANCE\n\ncase_file=Owner is Jonathan's personal admin (not a legal case). Most named cases (Balane, Heirs of MWK, Paracale, ARTA, road donation) belong to MWK-001 or Paracale-001. When unsure, omit case_file.\n\n# CRITICAL EXAMPLE \u2014 what NOT to do\n\nUser (client Allan): \"When did MWK die?\"\nWRONG: \"MWK died on March 30, 2024\" (fabrication \u2014 happened in production)\nRIGHT: \n  telegram_reply_to_client: \"I have no verified source for MWK's death date. No tool returned a death certificate or civil registry record. Recommended: upload the death certificate to /root/landtek/uploads/ and re-run extraction.\"\n  chat_note_to_save: { content: \"Client Allan asked when MWK died.\", summary: \"Allan inquiry: MWK death date \u2014 answered with refusal (no verified source)\", topic: \"communications\", importance: 2, related_case: \"MWK-001\", client_name: \"Allan Inocalla\" }\n  (No calendar_event_to_save \u2014 no future date mentioned.)\n\n# JOURNALING EXAMPLE \u2014 what TO do\n\nUser (client Allan, telegram_id 12345): \"Reminder, court hearing is June 30 at 9am in Naga RTC. Also wanted to flag \u2014 the LTC mentioned we might need to provide additional documents to the RD before then.\"\nRIGHT:\n  telegram_reply_to_client: \"Acknowledged. Logged: Court hearing on 2026-06-30 09:00 Naga RTC. [event:pending] Noted: LTC flagged need for additional RD documents pre-hearing. [note:pending]\"\n  calendar_event_to_save: { title: \"Court hearing \u2014 Civil Case 26-360\", start_at: \"2026-06-30T09:00:00+08:00\", location: \"Naga City RTC\", related_case: \"MWK-001\", client_name: \"Allan Inocalla\" }\n  chat_note_to_save: { content: \"LTC mentioned need to provide additional documents to RD before the June 30 hearing.\", summary: \"LTC flagged additional-document requirement for RD pre-hearing\", topic: \"deadlines\", importance: 4, related_case: \"MWK-001\", client_name: \"Allan Inocalla\" }\n\n---\n\n## DESCRIPTION DISCIPLINE (Rule A \u2014 non-negotiable)\n\nEvery entry in `action_items[]` MUST have a non-empty `description` field. If you cannot articulate the concrete action in one sentence, OMIT the entry entirely. Never emit `{description: \"\", ...}` \u2014 that creates blank rows in the action_items table and is treated as a system bug.\n\n## PROACTIVE INVESTIGATION & STRICT CLIENT ISOLATION ON FILE UPLOADS (Rule B \u2014 required behavior)\n\nWhen the **current active client** uploads any file (PDF, photo, document, scan, contract, voice, video, etc.):\n\nYou MUST treat it as an opportunity to investigate on behalf of the organization \u2014 while remaining strictly within that client's specific scope. This rule applies to EVERY file upload from EVERY client.\n\n### Required actions, in order\n\n1. **Acknowledge.** Acknowledge the file naturally and reference its apparent purpose or filename.\n\n2. **Investigate \u2014 strictly within scope.** Ask at least 1\u20132 targeted, natural follow-up questions to gain clarity. **CRITICAL:** Base these questions ONLY on the current client's known history and matters. **Never mention, reference, or ask about another client's affairs**, even if those clients are in the same family, estate, or matter type. Cross-client information is a confidentiality and scoping violation. Cover questions across these dimensions, but only within this client's known matters:\n   - What is this document and why was it sent?\n   - How does it relate to *your* current matters (e.g. *your* specific estate administration, titles, court cases, guardianship, mining, investments, construction, contracts, or other ongoing matters)?\n   - What action or next step do you expect from me or Jonathan regarding this file?\n   - Does this trigger any organizational needs (filing, indexing, legal review, OCR queue, conflict check, calendar entry)?\n\n3. **Journal.** Log the file and the client's response as a high-importance note via `leo_handle_output()`. Use the allowed topic enum (legal_strategy / evidence / people / deadlines / communications / task / misc). Tag with the correct `related_case` for the **current client only**.\n\n4. **Report.** Include a clear summary in Jonathan's private strategic brief.\n\nNever give only a basic acknowledgment like \"File received.\" Always investigate to bring full clarity to the relationship, the client's needs, and organizational necessities \u2014 **within the active client's scope only**.\n\n### Conversation efficiency (added 2026-05-16 \u2014 Rule B subsection)\n\n**Max ONE follow-up question per turn.** If a client gives you any actionable answer \u2014 even tentative or approximate (\"end of next week\", \"tentative\", \"I think Tuesday\", \"with my lawyer\") \u2014 accept it as sufficient and STOP asking for more precision. Capture what they said via chat_note_to_save + calendar_event_to_save (if a date/event is implied), then close the loop.\n\nDo NOT chain follow-ups like:\n- \"Will you be heading to Naga soon?\"\n- \"Do you have a date in mind?\"\n- \"Is this the meeting we discussed?\"\n- \"Do you have a preferred day or time?\"\nThis pattern feels like an interrogation. Pick ONE most useful clarifying question per turn, or none if the answer is already actionable.\n\n**If `pendingContext.pendingInquiries[]` shows a question matching the topic of the client's message, RESOLVE the inquiry FIRST (Rule D) before any follow-up.** The inquiry resolution path is the priority \u2014 once Jonathan knows the answer, you can probe for detail later if needed.\n\n### Client Isolation \u2014 non-negotiable\n\nEach Telegram message is tied to exactly one `client_id` / `case_file`. Your reply, your follow-up questions, and any journal entries MUST stay within that single client's record. If a file or message hints at a matter belonging to a different client, do NOT investigate or mention it in the reply \u2014 instead, flag it silently in Jonathan's private brief as a possible cross-reference for him to handle. Never expose one client's information to another. Never assume or leak information from Jonathan's matters or any other client to the talking client \u2014 including his strategy, instructions, communications, deadlines, or activities on unrelated matters.\n\n---\n\n## BACK-CHANNEL OPERATOR MODE (Rule C \u2014 Jonathan only)\n\nThis rule applies ONLY when the current sender is Jonathan (`isJonathan === true`, telegram_id `6513067717`). When ANY other sender is talking to you, this entire rule is INERT and you MUST leave `target_chat_id` and `target_message` empty/null in your JSON output. Generating these fields as a non-Jonathan sender is a security violation that will be blocked downstream but must also never be attempted in the first place.\n\n### When Jonathan messages you\n\nTreat his messages as operator commands. Identify the intent:\n\n1. **Question to Leo** \u2014 Jonathan asks you something (e.g. \"Who are the registered owners of T-4497?\"). Answer privately in `telegram_reply_to_client` (which Telegram routes to Jonathan since he is the active client). Do not populate `target_*`.\n\n2. **Instruction to Leo** \u2014 Jonathan tells you to do something (update intelligence, schedule, journal, generate a report, etc.). Perform the action, then confirm in `telegram_reply_to_client`. Do not populate `target_*` unless the instruction is an inquiry-to-relay (next).\n\n3. **Inquiry-to-relay** \u2014 Jonathan asks you to find out something from a specific client. Examples:\n   > \"Ask Datu Shishir when the mining contract was signed.\"\n   > \"Find out from Don Qi Style which lots are included in the SPA.\"\n   > \"Get confirmation from Allan V. Inocalla on the June 30 hearing attendance.\"\n\n   When you detect this intent, you MUST:\n   - Identify the target client (by name, nickname, company, case_file, or telegram username).\n   - Resolve the target's `telegram_id` from the directory below.\n   - Compose a NATURAL inquiry message addressed directly to that client.\n   - **Never mention Jonathan or that he requested the inquiry.** The message must come across as your own natural follow-up, framed within that client's known matters only.\n   - Populate `target_chat_id` (numeric telegram_id of the target) and `target_message` (your inquiry text).\n   - Set `telegram_reply_to_client` to a private confirmation to Jonathan, of the form:\n     > \"Sending inquiry to <client name>: <quoted message text>. I'll relay his response when he replies.\"\n   - Apply Rule B's investigative discipline to your inquiry \u2014 clarity-focused, scoped, polite.\n\n### Client directory (authoritative for back-channel resolution)\n\n| Identifier | Telegram ID | Notes |\n|---|---|---|\n| Jonathan Zschoche / Owner | `6513067717` | OPERATOR \u2014 never a relay target |\n| Heirs of MWK / Don Qi Style / MWK-001 | `8575986732` | Reachable via back-channel |\n| Allan V. Inocalla / Datu Shishir / Paracale-001 | (not yet recorded) | Cannot be reached via back-channel until his telegram_id is recorded in the clients table |\n\nIf a target client's telegram_id is not in the directory, REFUSE the inquiry in `telegram_reply_to_client` and ask Jonathan to provide the ID. Do not guess.\n\n### Inviolable rules\n\n- **Authorization**: `target_chat_id` and `target_message` may ONLY be populated when `isJonathan === true`. Never when a client is the sender. There is also a downstream IF gate that blocks non-Jonathan relay attempts, but you must not try them.\n- **Isolation**: `target_message` must be scoped to the target client's known matters only. Never reference Jonathan, his strategy, another client's affairs, or cross-client information.\n- **Source attribution**: `target_message` must NEVER contain phrases like \"Jonathan asked me to find out\", \"the operator wants to know\", or any attribution that exposes the back-channel. Frame the question as your own.\n- **Truthfulness**: If you cannot frame a relayed inquiry without inventing context, REFUSE and ask Jonathan to clarify.\n- **No duplicate summary on relay**: When `target_chat_id` and `target_message` are populated (you're relaying an inquiry to a client per Rule C), you MUST leave `telegram_summary_for_jonathan` as an empty string. The `telegram_reply_to_client` already conveys the action to Jonathan in first-person form (\"Sending inquiry to <client>: ...\"). A second third-person summary is redundant and creates duplicate messages in Jonathan's chat.\n\n\n\n---\n\n## RESPONSE CORRELATION (Rule D \u2014 relayed inquiry follow-up)\n\nWhen the current sender is NOT Jonathan (a client is talking to you) AND `context.pendingInquiries[]` is non-empty, you are looking at a potential answer to a question Jonathan previously asked you to relay via Rule C. Process this as follows:\n\n1. **Read the oldest open inquiry** in `context.pendingInquiries[]` (sorted by `asked_at` ascending). Each entry has: `id`, `question_text` (Jonathan's verbatim ask), `relayed_message` (the inquiry you sent the client), `asked_at`, `target_client_name`.\n\n2. **Judge whether the current client message is the answer** \u2014 semantically, not just by keyword. Score your confidence 0..1. Be LIBERAL in matching: a tentative or partial answer still counts. If the inquiry asked \"when will X happen\" and the client says \"end of next week\" or \"tentative Tuesday\" or \"around the 15th\", that's confidence ~0.85+ \u2014 RESOLVE it. Only return < 0.7 if the client message is unrelated to the inquiry topic. The cost of a false-positive resolution (Jonathan gets a relayed answer that's incomplete) is far less than a false-negative (Jonathan never learns the client answered).\n\n3. **If confidence \u2265 0.7** (it's the answer):\n   - Set `pending_inquiry_resolution = { id: <inquiry_id>, response_text: <verbatim or short summary of the client's answer>, confidence: <float> }` in your JSON output.\n   - Set `target_chat_id = \"6513067717\"` and `target_message = \"<Client> answered your inquiry '<short>': <verbatim or summary>\"`. This is the ONE place where you reach Jonathan from a non-Jonathan turn \u2014 the Rule C auth gate is satisfied by `pending_inquiry_resolution.id` being non-empty (the workflow handles this).\n   - Reply naturally to the client in `telegram_reply_to_client` \u2014 Rule B still applies: thank them, investigate any remaining gap, journal as note.\n\n4. **If confidence < 0.7** (not the answer, or ambiguous):\n   - Leave `pending_inquiry_resolution` empty/null.\n   - Process the client message normally per Rule B (proactive investigation, scoped).\n   - The inquiry stays open until a future message resolves it or it expires.\n\n5. **Never reveal Jonathan or the back-channel to the client.** Do not say \"thanks, I'll pass this on\", \"Jonathan was asking\", or anything that exposes the relay. Frame your reply as your own follow-up.\n\n6. **Multiple open inquiries**: process only the oldest one per turn. If the message could resolve multiple, attribute it to the oldest and leave the others open \u2014 confirm with Jonathan in the resolution message.\n\n7. **Expired inquiries**: never appear in `context.pendingInquiries[]` (filtered at fetch time). Do not act on stale state.\n\n\n---\n\n## CLERK ROLE \u2014 FILE LOGGING + DEFER-TO-JONATHAN (Rule E \u2014 required behavior)\n\nYou are the operations clerk and journalist, NOT a legal/strategic advisor. Your job is to capture facts, log documents, and route requests. Jonathan is the advisor.\n\n### When a client uploads a file\n\nLook at the `RECENT DOCUMENTS UPLOADED BY THIS CLIENT` section in your input. The freshly-uploaded file should appear there with extracted content.\n\nAsk ONLY the minimum qualifying questions needed to log the document correctly:\n- Which matter / case_file does this belong to? (Only if ambiguous \u2014 otherwise infer from filename, client profile, or document content.)\n- Document classification (Court Filing, Contract, Power of Attorney, Demand Letter, etc.)? (Only if not obvious from content.)\n- Is there a deadline or filing target attached?\n\nDo NOT:\n- Ask the client to explain document contents \u2014 read the excerpt yourself.\n- Pretend you cannot extract a file format. If the excerpt is present, the file IS extracted.\n- Ask the same question repeatedly across turns \u2014 check `RECENT CONVERSATION HISTORY` first.\n- Speculate on what attachments to prepare, what's missing, signature requirements, filing strategy, scope of relief, etc. That is Jonathan's role.\n\n### When the user asks about document content\n\nExamples: \"Who is the guardian named in the petition?\" / \"Which TCT numbers are listed?\" / \"When was this signed?\"\n\nAnswer DIRECTLY from the RECENT DOCUMENTS excerpts. The excerpt is up to 1500 chars per document \u2014 if the relevant fact appears there, quote it with the doc id citation `[doc_id:filename]`. If the user's question is about a fact that may exist deeper in the document (excerpt truncated), say so: *\"That detail may be later in the document; I'll flag it for Jonathan if you need a deeper read.\"*\n\n### When the user asks for advice or recommendations\n\nExamples: \"What attachments should I prepare?\" / \"Should I file this now?\" / \"Is this petition strong enough?\" / \"What's my next step?\"\n\nDO NOT speculate or give legal/strategic advice. Reply briefly and defer:\n\n> \"I'll flag this for Jonathan's review. He'll come back to you with guidance on next steps. In the meantime, I've logged your message in the case file.\"\n\nThen in your JSON output:\n- Emit an `action_item` for Jonathan with the user's question as the description (priority: high if time-sensitive, medium otherwise)\n- Emit a `chat_note_to_save` capturing the request (topic: communications, importance: 3)\n\n### Why this matters\n\nThe client (Don Qi Style, Datu Shishir, etc.) is talking to LEO not to Jonathan. Your job is to:\n1. Capture every fact and document\n2. Surface advice requests TO Jonathan (action items)\n3. NEVER pretend to give the legal recommendation yourself\n\nIf a client could get advice from Leo, they wouldn't need Jonathan. They DO need Jonathan. Stay in your lane.\n\n---\n\n## CONTEXT INJECTION FROM OPERATOR (Rule F \u2014 bidirectional)\n\n### When Jonathan messages you to PRE-LOAD context for a specific client\n\nJonathan can deposit context that you'll apply when that client next messages.\n\nExamples Jonathan might say:\n- \"When Allan asks about the receipt, tell him it was processed Friday.\"\n- \"If Datu mentions the SPA, mention I'm flying to Naga on the 22nd.\"\n- \"For Don Qi's next message, his sister's name is Marie \u2014 use it naturally if relevant.\"\n\nWhen you detect this intent, you MUST:\n1. Resolve the target client by name using Rule C's directory.\n2. Emit `pending_context_to_save` in your JSON output:\n   ```\n   {\n     \"target_telegram_id\": \"<resolved numeric id>\",\n     \"target_client_name\": \"<name Jonathan used>\",\n     \"context_text\": \"<verbatim or condensed context to apply>\"\n   }\n   ```\n3. Reply to Jonathan: `\"Noted. Next time <client> messages, I'll mention <gist>.\"`\n\nIf the target client's telegram_id is not in the Rule C directory (e.g. Datu Shishir today), REFUSE: tell Jonathan to record the telegram_id first.\n\n### When a CLIENT (non-Jonathan) messages you AND `pendingContext[]` is non-empty in the agent input\n\nThe pendingContext block contains rows Jonathan deposited for this exact sender. For each row:\n1. Read the context_text.\n2. Weave it naturally into your `telegram_reply_to_client` \u2014 do NOT mention Jonathan, do NOT reveal it came from a back-channel.\n3. Emit `context_used` in your JSON output:\n   ```\n   {\n     \"context_id\": <id from pendingContext>,\n     \"wording\": \"<the exact sentence you used in your reply>\"\n   }\n   ```\n4. The downstream node will mark the row as used and confirm to Jonathan.\n\nMultiple pendingContext rows: use whichever ones are relevant to this turn; leave others alone (they stay unused for future turns).\n\n### Inviolable\n\n- Operator context is for the TARGET client ONLY. Never apply Allan's context when Don Qi messages.\n- `pending_context_to_save` may only be populated when `isJonathan === true`.\n- `context_used` may only be populated when a real pendingContext row was actually applied.\n- Never fabricate context_id; only use ids present in the pendingContext input."
        },
        "promptType": "define"
      },
      "typeVersion": 3.1
    },
    {
      "id": "d66606f2-5ea4-4bde-b50e-053638e062a8",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        224,
        -80
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-6",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "credentials": {
        "anthropicApi": {
          "id": "VXehGYFvTPT2EZJB",
          "name": "Anthropic account"
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "d9669ae6-9409-47f0-9917-fe46a0019c52",
      "name": "Ask Clarification",
      "type": "n8n-nodes-base.telegram",
      "position": [
        704,
        -128
      ],
      "webhookId": "6e0e1ea3-4911-482e-ac26-cea3ec5abe63",
      "parameters": {
        "text": "={{ $json.clarification_question }}",
        "chatId": "={{ $('Parse Agent1').first().json.chatId }}\n",
        "additionalFields": {
          "parse_mode": "",
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "dSI1mdlTrzwdd1B8",
          "name": "Telegram account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "3d2e563b-dc69-46f8-9c48-6720b8c530fa",
      "name": "Upload file",
      "type": "n8n-nodes-base.googleDrive",
      "onError": "continueRegularOutput",
      "position": [
        1040,
        320
      ],
      "parameters": {
        "name": "={{ $json.smart_filename || $json.fileName || 'untitled' }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive",
          "cachedResultName": "My Drive"
        },
        "options": {},
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.drive_folder_id }}"
        }
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6KyIcqTperzB77MB",
          "name": "Google Drive account"
        }
      },
      "typeVersion": 3
    },
    {
      "id": "ffcb6a19-62a2-45ef-926a-d7c2a9ff17dd",
      "name": "Create file from text",
      "type": "n8n-nodes-base.googleDrive",
      "onError": "continueRegularOutput",
      "position": [
        1200,
        368
      ],
      "parameters": {
        "name": "={{ $json.case_file + '_Context.md' }}",
        "content": "={{ $json.context_md_content }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "options": {},
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "=142QmpKv2DvWjJ46nhOq_C8HhN6xD4Zjy"
        },
        "operation": "createFromText"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6KyIcqTperzB77MB",
          "name": "Google Drive account"
        }
      },
      "typeVersion": 3
    },
    {
      "id": "562c87df-2f4e-4d04-91bd-93d88862c9f3",
      "name": "Get a file",
      "type": "n8n-nodes-base.telegram",
      "position": [
        720,
        256
      ],
      "webhookId": "d1bbfdad-5a7c-47e8-8ad8-424eedbdf28e",
      "parameters": {
        "fileId": "={{ $json.fileId }}",
        "resource": "file",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "dSI1mdlTrzwdd1B8",
          "name": "Telegram account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "f515aaa2-daca-4f2d-afef-c33ca08e6fec",
      "name": "Update row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "onError": "continueRegularOutput",
      "position": [
        1440,
        448
      ],
      "parameters": {
        "columns": {
          "value": {
            "Phone": "={{ $json.sheetUpdates['Phone'] }}",
            "Email ": "={{ $json.sheetUpdates['Email'] }}",
            "Key Risks": "={{ $json.sheetUpdates['Key Risks'] }}",
            "row_number": "={{ $json.rowNumber }}",
            "Next Milestone": "={{ $json.sheetUpdates['Next Milestone'] }}",
            "Priority Level": "={{ $json.sheetUpdates['Priority Level'] }}",
            "Last Leo Review": "={{ $json.sheetUpdates['Last Leo Review'] }}",
            "Telegram Username": "={{ $json.sheetUpdates['Telegram Username'] }}",
            "Open Strategic Gaps": "={{ $json.sheetUpdates['Open Strategic Gaps'] }}",
            "Client Intelligence Summary": "={{ $json.sheetUpdates['Client Intelligence Summary'] }}"
          },
          "schema": [
            {
              "id": "Client ID",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Client ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Company",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Case File",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Case File",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Instructions / Style",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Instructions / Style",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Current Goals",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Current Goals",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Project Status",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Project Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Next Milestone",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Next Milestone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Key Risks",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Key Risks",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority Level",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Priority Level",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Legal Folder Path",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Legal Folder Path",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Finance Folder Path",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Finance Folder Path",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Project Folder Path",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Project Folder Path",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Updated",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Last Updated",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "LeoLandTek Notes",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "LeoLandTek Notes",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Intelligence Summary",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Client Intelligence Summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Leo Review",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Last Leo Review",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Open Strategic Gaps",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Open Strategic Gaps",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email ",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Email ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Telegram Username",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Telegram Username",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "number",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "row_number"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "update",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 85374455,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ/edit#gid=85374455",
          "cachedResultName": "Clients"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ/edit?usp=drivesdk",
          "cachedResultName": "Landtek Clients"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UIpfEo8bJKRbhDrG",
          "name": "Google Sheets account 3"
        }
      },
      "typeVersion": 4.7
    },
    {
      "id": "690afef6-b57e-4788-999f-0a7172d155fe",
      "name": "Prep sheet update",
      "type": "n8n-nodes-base.code",
      "position": [
        1328,
        240
      ],
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Skip sheet update if no row number\nif (!input.rowNumber) {\n  return [{\n    json: {\n      ...input,\n      sheetUpdates: {},\n      skipUpdate: true\n    }\n  }];\n}\n\nconst updates = {};\n\nif (input.status_update && input.status_update.trim() !== \"\") {\n  updates[\"Project Status\"] = input.status_update.trim();\n}\nif (input.next_milestone && input.next_milestone.trim() !== \"\") {\n  updates[\"Next Milestone\"] = input.next_milestone.trim();\n}\nif (input.key_risks && input.key_risks.trim() !== \"\") {\n  updates[\"Key Risks\"] = input.key_risks.trim();\n}\nif (input.priority_level && input.priority_level.trim() !== \"\") {\n  updates[\"Priority Level\"] = input.priority_level.trim();\n}\nif (input.client_intelligence_update && input.client_intelligence_update.trim() !== \"\") {\n  updates[\"Client Intelligence Summary\"] = input.client_intelligence_update.trim();\n}\nif (input.open_strategic_gaps && input.open_strategic_gaps.trim() !== \"\") {\n  updates[\"Open Strategic Gaps\"] = input.open_strategic_gaps.trim();\n}\nif (input.email_update && input.email_update.trim() !== \"\") {\n  updates[\"Email\"] = input.email_update.trim();\n}\nif (input.phone_update && input.phone_update.trim() !== \"\") {\n  updates[\"Phone\"] = input.phone_update.trim();\n}\nif (input.telegram_username_update && input.telegram_username_update.trim() !== \"\") {\n  updates[\"Telegram Username\"] = input.telegram_username_update.trim();\n}\n\nupdates[\"Last Leo Review\"] = new Date().toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    ...input,\n    sheetUpdates: updates,\n    rowNumber: input.rowNumber\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "434de6c7-dc5e-4a15-b8af-ffc4c2316f49",
      "name": "Reply to Jonathan",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1840,
        -224
      ],
      "webhookId": "fa453536-384a-40ec-8b96-df4f4e40a650",
      "parameters": {
        "text": "={{ $json.telegram_summary_for_jonathan }}",
        "chatId": "6513067717",
        "parseMode": "HTML",
        "additionalFields": {
          "parse_mode": "HTML",
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "dSI1mdlTrzwdd1B8",
          "name": "Telegram account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "354ae590-8607-40c2-b607-5877ee9d8588",
      "name": "Switch router",
      "type": "n8n-nodes-base.switch",
      "position": [
        576,
        0
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "inquiry_resolution",
              "conditions": {
                "options": {
                  "version": 3,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "inquiry-res-id-notempty",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "leftValue": "={{ String(($json.pending_inquiry_resolution || {}).id || '') }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "file_ack",
              "conditions": {
                "options": {
                  "version": 3,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cd216594-0ae5-4a62-a5b0-0c5c53e6a2c7",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "file"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "clarification",
              "conditions": {
                "options": {
                  "version": 3,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "5db3e41e-f09a-43fc-8dd7-9a9b26f7fb69",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.needs_clarification }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "new_contact",
              "conditions": {
                "options": {
                  "version": 3,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "9592f8eb-67a3-46b5-9319-c93a51dcb52a",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.new_contact_detected }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "create_client",
              "conditions": {
                "options": {
                  "version": 3,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "43c1c05f-24fb-48f3-96c4-1f647d25d21c",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.create_new_client }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "process_text",
              "conditions": {
                "options": {
                  "version": 3,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "d3ee3a71-e400-4c17-943b-deb1480d01bd",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "text_only"
                  }
                ]
              },
              "renameOutput": true
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "allMatchingOutputs": false
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "009b7ed8-53b0-408f-8347-4cdd16474104",
      "name": "Reply to Client",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1776,
        272
      ],
      "webhookId": "a5c18774-8fd2-4b64-890a-9e805e45580a",
      "parameters": {
        "text": "={{ $('Parse Agent1').first().json.telegram_reply_to_client }}",
        "chatId": "={{ $('Parse Agent1').first().json.chatId }}",
        "parseMode": "HTML",
        "additionalFields": {
          "parse_mode": "HTML",
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "dSI1mdlTrzwdd1B8",
          "name": "Telegram account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "d1357899-3310-414c-a4c0-15c81af159d1",
      "name": "Parse Agent1",
      "type": "n8n-nodes-base.code",
      "position": [
        432,
        64
      ],
      "parameters": {
        "jsCode": "const aiOutput = $input.first().json || {};\nconst context = $('Context Builder').first().json || {};\n\nlet raw = aiOutput.output || \"\";\nraw = raw.toString().trim();\n\n// \u2500\u2500 Robust JSON extraction (deploy_057b) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n// Leo's output may contain multiple JSON code blocks (tool calls + final\n// response). Walk backwards from the end, finding the last balanced {}\n// block whose parse yields an object containing 'case_file' (the schema\n// marker). That's the actual final response.\nfunction extractFinalSchemaJson(s) {\n  s = String(s).trim();\n\n  // Fast path: maybe the whole string is one valid JSON\n  try {\n    const obj = JSON.parse(s);\n    if (obj && typeof obj === 'object' && !Array.isArray(obj) && obj.case_file !== undefined) {\n      return obj;\n    }\n  } catch (e) {}\n\n  // Strip markdown code fences (```json ... ```)\n  const fenceClean = s.replace(/```(?:json)?\\s*/g, '').replace(/```/g, '');\n  try {\n    const obj = JSON.parse(fenceClean);\n    if (obj && typeof obj === 'object' && !Array.isArray(obj) && obj.case_file !== undefined) {\n      return obj;\n    }\n  } catch (e) {}\n\n  // Walk: find every balanced {...} substring, parse, keep ones with case_file\n  // Iterate from end backwards so we get the LAST schema-shaped object.\n  let endIdx = s.lastIndexOf('}');\n  while (endIdx > 0) {\n    // Walk backward, counting braces, to find matching {\n    let depth = 1;\n    let inString = false;\n    let escape = false;\n    let i = endIdx - 1;\n    while (i >= 0 && depth > 0) {\n      const c = s[i];\n      if (escape) { escape = false; i--; continue; }\n      if (c === '\\\\') { escape = true; i--; continue; }\n      if (c === '\"') { inString = !inString; i--; continue; }\n      if (!inString) {\n        if (c === '}') depth++;\n        else if (c === '{') depth--;\n      }\n      if (depth === 0) break;\n      i--;\n    }\n    if (depth === 0 && i >= 0) {\n      const candidate = s.substring(i, endIdx + 1);\n      try {\n        const obj = JSON.parse(candidate);\n        if (obj && typeof obj === 'object' && !Array.isArray(obj) && obj.case_file !== undefined) {\n          return obj;\n        }\n      } catch (e) {}\n    }\n    // Try the next earlier }\n    endIdx = s.lastIndexOf('}', endIdx - 1);\n  }\n  return null;\n}\n\nlet parsed = extractFinalSchemaJson(raw);\nif (!parsed) {\n  parsed = {\n    needs_clarification: true,\n    clarification_question: \"Sorry, I had trouble processing that. Please try again.\",\n    message_type: \"text_only\",\n    case_file: \"Unknown\",\n    telegram_reply_to_client: \"Sorry, I encountered a processing error. Please try again.\",\n    telegram_summary_for_jonathan: \"Parse error on last message \\u2014 please review manually.\",\n    case_intelligence_update: {},\n    action_items: [],\n    new_contact_detected: false,\n    create_new_client: false,\n    new_client_data: {},\n    authorize_contact: false,\n    authorization_data: {},\n    target_chat_id: \"\",\n    target_message: \"\"\n  };\n}\n\n// Inject context from Context Builder\nparsed.chatId = context.chatId || \"\";\nparsed.isJonathan = context.isJonathan || false;\nparsed.isUnknown = context.isUnknown || false;\nparsed.fileId = context.fileId || null;\nparsed.fileName = context.fileName || null;\nparsed.senderId = context.senderId || \"\";\nparsed.senderName = context.senderName || \"\";\nparsed.rawText = context.rawText || \"\";\nparsed.clientRow = context.clientRow || null;\nparsed.timestamp = new Date().toISOString();\n\n// Normalize core fields\nparsed.message_type = parsed.message_type || context.messageType || \"text_only\";\nparsed.case_file = parsed.case_file || context.caseFile || \"Unknown\";\n\n// Normalize new fields with safe defaults\nparsed.case_intelligence_update = parsed.case_intelligence_update || {};\nparsed.case_intelligence_update.current_goals = parsed.case_intelligence_update.current_goals || \"\";\nparsed.case_intelligence_update.next_milestone = parsed.case_intelligence_update.next_milestone || \"\";\nparsed.case_intelligence_update.key_risks = parsed.case_intelligence_update.key_risks || \"\";\nparsed.case_intelligence_update.open_gaps = parsed.case_intelligence_update.open_gaps || \"\";\nparsed.case_intelligence_update.intelligence_summary = parsed.case_intelligence_update.intelligence_summary || \"\";\n\nparsed.action_items = parsed.action_items || [];\nparsed.intelligence_insight = parsed.intelligence_insight || \"\";\n\nparsed.new_contact_detected = parsed.new_contact_detected || false;\nparsed.create_new_client = parsed.create_new_client || false;\nparsed.new_client_data = parsed.new_client_data || {};\nparsed.new_client_data.name = parsed.new_client_data.name || context.senderName || \"\";\nparsed.new_client_data.telegram_id = parsed.new_client_data.telegram_id || context.senderId || \"\";\nparsed.new_client_data.telegram_username = parsed.new_client_data.telegram_username || context.senderUsername || \"\";\nparsed.new_client_data.phone = parsed.new_client_data.phone || \"\";\nparsed.new_client_data.email = parsed.new_client_data.email || \"\";\nparsed.new_client_data.case_file = parsed.new_client_data.case_file || parsed.case_file || \"\";\nparsed.new_client_data.role = parsed.new_client_data.role || \"unknown\";\nparsed.new_client_data.primary_case_file = parsed.new_client_data.primary_case_file || \"\";\n\nparsed.authorize_contact = parsed.authorize_contact || false;\nparsed.authorization_data = parsed.authorization_data || {};\n\nparsed.needs_clarification = parsed.needs_clarification || false;\nparsed.clarification_question = parsed.clarification_question || \"\";\nparsed.create_evidence_bundle = parsed.create_evidence_bundle || false;\n\nparsed.email_update = parsed.email_update || \"\";\nparsed.phone_update = parsed.phone_update || \"\";\nparsed.telegram_username_update = parsed.telegram_username_update || \"\";\nparsed.target_chat_id = parsed.target_chat_id || \"\";\nparsed.target_message = parsed.target_message || \"\";\nparsed.telegram_reply_to_client = parsed.telegram_reply_to_client || \"\";\nparsed.telegram_summary_for_jonathan = parsed.telegram_summary_for_jonathan || \"\";\n\n\n// Drop past-due action items (due_date < today UTC); auto-bump optional dates\nconst _today = new Date().toISOString().slice(0,10);\nif (Array.isArray(parsed.action_items)) {\n  parsed.action_items = parsed.action_items.filter(a => {\n    if (!a.due_date) return true;\n    return String(a.due_date) >= _today;\n  });\n}\n\nreturn [{ json: parsed }];"
      },
      "typeVersion": 2
    },
    {
      "id": "150c8379-5c06-473d-af4b-98a7b23499ae",
      "name": "Safe Reply",
      "type": "n8n-nodes-base.code",
      "position": [
        1632,
        -96
      ],
      "parameters": {
        "jsCode": "const data = $('Parse Agent1').first().json || {};\n\n// Sanitize text for Telegram: replace problematic markdown characters\n// to avoid \"can't parse entities\" errors\nfunction sanitizeTelegramText(text) {\n      if (!text) return text;\n      // HTML entities must be escaped first (Telegram parse_mode=HTML).\n      // & must be replaced BEFORE < and > to avoid double-escaping.\n      return text\n          .replace(/&/g, '&amp;')\n          .replace(/</g, '&lt;')\n          .replace(/>/g, '&gt;')\n          .replace(/\\[/g, '(')\n          .replace(/\\]/g, ')')\n          .replace(/`/g, \"'\");\n}\n\nconst safeClientReply = (data.telegram_reply_to_client &&\n                                                 data.telegram_reply_to_client.trim() !== \"\")\n      ? data.telegram_reply_to_client\n      : !data.rowNumber\n      ? \"Hello! I'm LeoLandTek, the Landtek property management assistant. Please share your full name, contact number, and how we can help you today. Someone from our team will follow up shortly.\"\n      : \"Thank you. I've noted your message and will process it accordingly.\";\n\nconst safeJonathanSummary = (data.telegram_summary_for_jonathan &&\n                                                         data.telegram_summary_for_jonathan.trim() !== \"\")\n      ? sanitizeTelegramText(data.telegram_summary_for_jonathan)\n      : \"New message received and processed.\";\n\nreturn [{\n      json: {\n                ...data,\n                telegram_reply_to_client: safeClientReply,\n                telegram_summary_for_jonathan: safeJonathanSummary,\n                target_chat_id: data.target_chat_id || \"\",\n                target_message: data.target_message || \"\"\n      }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "0e4e3402-7ce6-4132-b86c-ad0e3cfb4f87",
      "name": "Create New Client Row",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1136,
        -224
      ],
      "parameters": {
        "columns": {
          "value": {
            "Name": "={{ $json.new_client_data.name }}",
            "Phone": "={{ $json.new_client_data.phone }}",
            "Email ": "={{ $json.new_client_data.email }}",
            "Status": "Active",
            "Company": "={{ $json.new_client_data.company }}",
            "Case File": "={{ $json.new_client_data.case_file }}",
            "Client ID": "={{ $json.chatId }}",
            "Instructions / Style": "={{ $json.new_client_data.notes }}"
          },
          "schema": [
            {
              "id": "Client ID",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Client ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Company",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Case File",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Case File",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Instructions / Style",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Instructions / Style",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Current Goals",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Current Goals",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Project Status",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Project Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Next Milestone",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Next Milestone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Key Risks",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Key Risks",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority Level",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Priority Level",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Legal Folder Path",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Legal Folder Path",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Finance Folder Path",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Finance Folder Path",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Project Folder Path",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Project Folder Path",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Updated",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Last Updated",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "LeoLandTek Notes",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "LeoLandTek Notes",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Intelligence Summary",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Client Intelligence Summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Leo Review",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Last Leo Review",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Open Strategic Gaps",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Open Strategic Gaps",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email ",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Email ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Telegram Username",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Telegram Username",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 85374455,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ/edit#gid=85374455",
          "cachedResultName": "Clients"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ/edit?usp=drivesdk",
          "cachedResultName": "Landtek Clients"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UIpfEo8bJKRbhDrG",
          "name": "Google Sheets account 3"
        }
      },
      "typeVersion": 4.7
    },
    {
      "id": "ead8697b-3f7e-4e0b-9625-9e2e014ef0d3",
      "name": "Send to Target Contact",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2624,
        96
      ],
      "webhookId": "b372ac02-2d63-49b1-b744-8158d38728ea",
      "parameters": {
        "text": "={{ $('Safe Reply').first().json.target_message }}",
        "chatId": "={{ $('Safe Reply').first().json.target_chat_id }}",
        "additionalFields": {
          "parse_mode": "",
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "dSI1mdlTrzwdd1B8",
          "name": "Telegram account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "3c846d8b-5e4f-4ef5-9950-f368d28840a8",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        1408,
        -464
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "6b522820-1958-4867-a0d4-3c83663d57bf",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.target_chat_id }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "7c35c230-1121-4b88-93e1-af727bf351a8",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "position": [
        1040,
        176
      ],
      "parameters": {
        "jsCode": "const d = $('Parse Agent1').first().json;\n\nreturn [{\n  json: {\n    timestamp: new Date().toISOString(),\n    telegramId: d.senderId || \"\",\n    clientName: d.clientRow?.['Name'] || d.senderName || \"Unknown\",\n    company: d.clientRow?.['Company'] || \"\",\n    caseFile: d.case_file || \"\",\n    messageCaption: (d.rawText || \"\").substring(0, 300),\n    fileName: d.fileName || \"\",\n    leoResponse: (d.telegram_summary_for_jonathan || \"\").substring(0, 300),\n    category: d.classification || \"\",\n    strategicPurpose: (d.context_md_content || \"\").substring(0, 300)\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "bdea36d8-c0e3-492d-9c64-ebb091b16643",
      "name": "Embeddings Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        -240,
        -80
      ],
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "credentials": {
        "googlePalmApi": {
          "id": "HzbNMxmpVEtb7ANj",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "a84d1949-efd4-439b-b742-7e260dbc4079",
      "name": "Context Builder",
      "type": "n8n-nodes-base.code",
      "position": [
        96,
        -144
      ],
      "parameters": {
        "jsCode": "const msg = $('Telegram Trigger').first().json.message || {};\n\n// \u2500\u2500 pendingInquiries (deploy 038 \u2014 Response Correlation) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n// Read all rows produced by 'Fetch Pending Inquiries' (a separate Postgres node\n// that ran just before Context Builder). Each row is an n8n item.\nlet pendingInquiries = [];\ntry {\n  const items = $('Fetch Pending Inquiries').all();\n  pendingInquiries = items\n    .map(i => i.json)\n    .filter(r => r && r.id);  // skip empty results\n} catch (e) {\n  pendingInquiries = [];\n}\n\n// \u2500\u2500 pendingContext (deploy 074 \u2014 Back-channel Context Injection) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\n// Operator-deposited context for the CURRENT sender to apply naturally.\nlet pendingContext = [];\ntry {\n  const items = $('Fetch Pending Context').all();\n  pendingContext = items\n    .map(i => i.json)\n    .filter(r => r && r.id);\n} catch (e) {\n  pendingContext = [];\n}\n\nconst senderId = msg.from?.id?.toString() || \"\";\nconst senderName = [msg.from?.first_name, msg.from?.last_name].filter(Boolean).join(\" \") || \"Unknown\";\nconst senderUsername = msg.from?.username || \"\";\nconst isJonathan = senderId === \"6513067717\";\nconst hasFile = !!(msg.document || msg.photo || msg.audio || msg.video || msg.voice);\nconst messageType = hasFile ? \"file\" : \"text_only\";\nconst rawText = msg.caption || msg.text || \"\";\n\n// Get client data from Postgres\nconst clientRow = $('Execute a SQL query').first().json || {};\nconst caseFile = clientRow?.case_file || rawText.match(/[A-Za-z]+-\\d{3}/)?.[0] || \"Unknown\";\n\n// Build recent conversation history\nconst recentConvs = clientRow?.recent_conversations || [];\nconst conversationHistory = recentConvs\n  .map(r => `[${r.timestamp || ''}] Sender: ${r.message_caption || ''} | Leo: ${r.leo_response || ''}`)\n  .join('\\n');\n\n// Build recent documents (deploy_059)\nconst recentDocs = clientRow?.recent_documents || [];\nconst documentsBlock = recentDocs.length\n  ? recentDocs.map(d =>\n      `--- DOC ${d.id}: ${d.original_filename || 'unnamed'} (${d.char_count || 0} chars)\\n` +\n      `Excerpt:\\n${d.extracted_excerpt || '(no text extracted)'}\\n`\n    ).join('\\n')\n  : 'No previous file uploads with extracted content.';\n\n// Build client profile\nconst clientProfile = clientRow?.name ? `Client Name: ${clientRow.name || \"\"}\nCompany: ${clientRow.company || \"\"}\nCase File: ${clientRow.case_file || \"\"}\nStatus: ${clientRow.status || \"\"}\nInstructions: ${clientRow.instructions || \"\"}\nCurrent Goals: ${clientRow.current_goals || \"\"}\nProject Status: ${clientRow.project_status || \"\"}\nNext Milestone: ${clientRow.next_milestone || \"\"}\nKey Risks: ${clientRow.key_risks || \"\"}\nPriority: ${clientRow.priority_level || \"\"}\nEmail: ${clientRow.email || \"\"}\nPhone: ${clientRow.phone || \"\"}\nTelegram Username: ${clientRow.telegram_username || \"\"}\nLegal Folder Path: ${clientRow.legal_folder_path || \"\"}\nFinance Folder Path: ${clientRow.finance_folder_path || \"\"}\nProject Folder Path: ${clientRow.project_folder_path || \"\"}\nClient Intelligence Summary: ${clientRow.client_intelligence_summary || \"\"}\nOpen Strategic Gaps: ${clientRow.open_strategic_gaps || \"\"}`\n: \"No matching client profile found.\";\n\n// Build file info\nlet fileInfo = \"No file attached.\";\nif (hasFile) {\n  const doc = msg.document || {};\n  const photo = msg.photo?.[msg.photo.length - 1] || {};\n  fileInfo = `File type: ${msg.document ? \"document\" : msg.photo ? \"photo\" : \"other\"}\nOriginal filename: ${doc.file_name || \"unnamed\"}\nMIME type: ${doc.mime_type || \"unknown\"}\nFile size: ${doc.file_size || photo.file_size || \"unknown\"} bytes`;\n}\n\nconst agentInput = `SENDER:\nName: ${senderName}\nTelegram ID: ${senderId}\nTelegram Username: ${senderUsername}\nIs Jonathan (owner): ${isJonathan}\n\nMESSAGE TYPE: ${messageType}\nTIMESTAMP: ${new Date().toISOString()}\n\nRAW MESSAGE / CAPTION:\n${rawText || \"(no text provided)\"}\n\nFILE INFO:\n${fileInfo}\n\nCLIENT PROFILE:\n${clientProfile}\n\nRECENT CONVERSATION HISTORY (last 4):\n${conversationHistory || \"No previous conversations\"}\n\nRECENT DOCUMENTS UPLOADED BY THIS CLIENT (last 4 with extracted content):\n${documentsBlock}\n\nPENDING INQUIRIES (Jonathan asked you to relay these to this client; if their current message answers ANY of them, you MUST set pending_inquiry_resolution per Rule D):\n${pendingInquiries.length === 0 ? '(none)' : pendingInquiries.map(p => `[id:${p.id}] asked ${p.asked_at}: \"${p.question_text}\" \u2014 already relayed as: \"${p.relayed_message}\"`).join('\\n')}\n\nOPERATOR CONTEXT (use naturally in your reply, do NOT mention Jonathan):\n${pendingContext.length ? pendingContext.map(c => `[id:${c.id}] ${c.context_text}`).join('\\n') : '(none)'}\n`;\n\nreturn [{\n  json: {\n    agentInput,\n    messageType,\n    isJonathan,\n    senderId,\n    senderName,\n    senderUsername,\n    caseFile,\n    clientRow,\n    pendingInquiries,\n    pendingContext,\n    rawText,\n    hasFile,\n    fileId: hasFile ? (msg.document?.file_id || msg.photo?.[msg.photo.length-1]?.file_id || null) : null,\n    fileName: msg.document?.file_name || null,\n    chatId: msg.chat?.id?.toString() || \"\"\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "e08caa1a-dfc5-4d54-b34b-806731b19def",
      "name": "Execute a SQL query",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -80,
        -336
      ],
      "parameters": {
        "query": "SELECT\n  c.*,\n  (\n    SELECT json_agg(conv)\n    FROM (\n      SELECT timestamp, client_name, message_caption, leo_response, category\n      FROM conversations\n      WHERE case_file = c.case_file\n      ORDER BY timestamp DESC\n      LIMIT 15\n    ) conv\n  ) as recent_conversations,\n  (\n    SELECT json_agg(items)\n    FROM (\n      SELECT description, due_date, status, priority\n      FROM action_items\n      WHERE case_file = c.case_file\n      AND status = 'Open'\n      ORDER BY id DESC\n      LIMIT 5\n    ) items\n  ) as open_action_items,\n  (\n    SELECT json_agg(docs)\n    FROM (\n      SELECT id, original_filename, mime_type,\n             LEFT(coalesce(extracted_text,''), 1500) AS extracted_excerpt,\n             length(coalesce(extracted_text,'')) AS char_count,\n             timestamp\n      FROM documents\n      WHERE case_file = c.case_file\n        AND coalesce(extracted_text,'') <> ''\n      ORDER BY id DESC\n      LIMIT 4\n    ) docs\n  ) as recent_documents\nFROM clients c\nLEFT JOIN cases ca ON ca.case_file = c.case_file\nWHERE c.telegram_id = '{{ $json.message.from.id }}'\nLIMIT 1",
        "options": {
          "queryReplacement": "={{ $json.message.from.id.toString() }}, {{ $json.message.from.username || '' }}"
        },
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "kPUGFA1HrZZFWnzI",
          "name": "Postgres account 2"
        }
      },
      "typeVersion": 2.6,
      "alwaysOutputData": true
    },
    {
      "id": "bd3b9f77-1b75-4584-984e-484537bf584d",
      "name": "Update Case Intelligence",
      "type": "n8n-nodes-base.postgres",
      "onError": "continueRegularOutput",
      "position": [
        1632,
        96
      ],
      "parameters": {
        "query": "UPDATE cases SET\n  current_goals = CASE WHEN $1 != '' THEN $1::text ELSE current_goals END,\n  next_milestone = CASE WHEN $2 != '' THEN $2::text ELSE next_milestone END,\n  key_risks = CASE WHEN $3 != '' THEN $3::text ELSE key_risks END,\n  open_gaps = CASE WHEN $4 != '' THEN $4::text ELSE open_gaps END,\n  intelligence_summary = CASE WHEN $5 != '' THEN $5::text ELSE intelligence_summary END,\n  updated_at = NOW()\nWHERE case_file = $6\n  AND $6 NOT LIKE 'UNKNOWN%';",
        "options": {
          "queryReplacement": "={{ [\n  $('Parse Agent1').first().json.case_intelligence_update.current_goals,\n  $('Parse Agent1').first().json.case_intelligence_update.next_milestone,\n  $('Parse Agent1').first().json.case_intelligence_update.key_risks,\n  $('Parse Agent1').first().json.case_intelligence_update.open_gaps,\n  $('Parse Agent1').first().json.case_intelligence_update.intelligence_summary,\n  $('Parse Agent1').first().json.case_file\n] }}"
        },
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "kPUGFA1HrZZFWnzI",
          "name": "Postgres account 2"
        }
      },
      "typeVersion": 2.6,
      "continueOnFail": true
    },
    {
      "id": "6ad09b73-ae15-4aa2-9d10-6fac680a6cf2",
      "name": "Split Action Items",
      "type": "n8n-nodes-base.code",
      "position": [
        1824,
        32
      ],
      "parameters": {
        "jsCode": "const parsed = $('Parse Agent1').first().json;\nconst items = parsed.action_items || [];\nconst caseFile = parsed.case_file || 'Unknown';\n\nif (!items.length) return [{ json: { skip: true } }];\n\nreturn items.map(item => ({\n  json: {\n    case_file: caseFile,\n    description: item.description || '',\n    due_date: item.due_date || null,\n    priority: item.priority || 'Medium',\n    created_by: 'Leo'\n  }\n}));"
      },
      "typeVersion": 2
    },
    {
      "id": "290421dc-cdca-446d-ba8c-3ee3cc123d6d",
      "name": "Insert Action Items",
      "type": "n8n-nodes-base.postgres",
      "onError": "continueRegularOutput",
      "position": [
        1984,
        16
      ],
      "parameters": {
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "action_items",
          "cachedResultName": "action_items"
        },
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "columns": {
          "value": {
            "status": "Open",
            "due_date": "={{ $json.due_date }}",
            "priority": "={{ $json.priority }}",
            "case_file": "={{ $json.case_file }}",
            "created_by": "={{ $json.created_by }}",
            "description": "={{ $json.description }}"
          },
          "schema": [
            {
              "id": "id",
              "type": "number",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "case_file",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "case_file",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "description",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "description",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "due_date",
              "type": "dateTime",
              "display": true,
              "required": false,
              "displayName": "due_date",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "status",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "status",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "priority",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "priority",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "created_by",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "created_by",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "completed_at",
              "type": "dateTime",
              "display": true,
              "required": false,
              "displayName": "completed_at",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "type": "dateTime",
              "display": true,
              "required": false,
              "displayName": "created_at",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "updated_at",
              "type": "dateTime",
              "display": true,
              "required": false,
              "displayName": "updated_at",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "kPUGFA1HrZZFWnzI",
          "name": "Postgres account 2"
        }
      },
      "typeVersion": 2.6,
      "continueOnFail": true
    },
    {
      "id": "cb6cd2a3-4953-47b5-9a07-47c50658f355",
      "name": "Log File Receipt1",
      "type": "n8n-nodes-base.postgres",
      "position": [
        848,
        256
      ],
      "parameters": {
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "documents",
          "cachedResultName": "documents"
        },
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "columns": {
          "value": {
            "case_file": "={{ $('Parse Agent1').first().json.case_file }}",
            "file_path": "={{ $('Extract File Text').first().json.local_path }}",
            "mime_type": "={{ $('Extract File Text').first().json.mime_type }}",
            "drive_link": "={{ $json.webViewLink }}",
            "drive_file_id": "={{ $('Upload file').first().json.id }}",
            "classification": "={{ $('Parse Agent1').first().json.classification }}",
            "extracted_text": "={{ $('Extract File Text').first().json.extracted_text }}",
            "smart_filename": "={{ $('Parse Agent1').first().json.smart_filename }}",
            "conversation_id": "={{ $('Log Conversation').first().json.id }}",
            "original_filename": "={{ $('Parse Agent1').first().json.fileName }}",
            "strategic_relevance": "={{ $('Parse Agent1').first().json.context_md_content }}"
          },
          "schema": [
            {
              "id": "id",
              "type": "number",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "type": "dateTime",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "timestamp",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "case_file",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "case_file",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "original_filename",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "original_filename",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "smart_filename",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "smart_filename",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "drive_link",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "drive_link",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "mime_type",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "mime_type",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "extracted_text",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "extracted_text",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "classification",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "classification",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "strategic_relevance",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "strategic_relevance",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "conversation_id",
              "type": "number",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "conversation_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "type": "dateTime",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "created_at",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "drive_file_id",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "drive_file_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "file_path",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "file_path",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "kPUGFA1HrZZFWnzI",
          "name": "Postgres account 2"
        }
      },
      "typeVersion": 2.6
    },
    {
      "id": "6b40ed04-65b6-495d-a34a-800751ef322d",
      "name": "Log Conversation",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1456,
        64
      ],
      "parameters": {
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "conversations",
          "cachedResultName": "conversations"
        },
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "columns": {
          "value": {
            "category": "={{ $('Parse Agent1').first().json.classification }}",
            "case_file": "={{ $('Parse Agent1').first().json.case_file }}",
            "client_name": "={{ $('Context Builder').first().json.senderName }}",
            "telegram_id": "={{ $('Context Builder').first().json.senderId }}",
            "leo_response": "={{ $('Parse Agent1').first().json.telegram_summary_for_jonathan }}",
            "raw_llm_output": "={{ $('AI Agent').first().json.output }}",
            "message_caption": "={{ $('Context Builder').first().json.rawText }}",
            "sent_to_jonathan": true,
            "strategic_purpose": "={{ $('Parse Agent1').first().json.context_md_content }}"
          },
          "schema": [
            {
              "id": "id",
              "type": "number",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "type": "dateTime",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "timestamp",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_id",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "telegram_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "client_name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "client_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "company",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "case_file",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "case_file",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "message_caption",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "message_caption",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "file_name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "file_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "drive_link",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "drive_link",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "leo_response",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "leo_response",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "category",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "strategic_purpose",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "strategic_purpose",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "sent_to_jonathan",
              "type": "boolean",
              "display": true,
              "required": false,
              "displayName": "sent_to_jonathan",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "notes",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "raw_llm_output",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "raw_llm_output",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "kPUGFA1HrZZFWnzI",
          "name": "Postgres account 2"
        }
      },
      "typeVersion": 2.6
    },
    {
      "id": "f48a2c64-921f-4a80-9db3-f71d53dcd523",
      "name": "Gemini Embed",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2208,
        240
      ],
      "parameters": {
        "url": "https://api.openai.com/v1/embeddings",
        "method": "POST",
        "options": {},
        "jsonBody": "{\n  \"model\": \"text-embedding-3-small\",\n  \"input\": \"{{ $('Parse Agent1').first().json.case_file + ' | ' + $('Context Builder').first().json.rawText + ' | ' + $('Parse Agent1').first().json.telegram_summary_for_jonathan }}\",\n  \"dimensions\": 768\n}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "8e2a67ab-4058-4177-b016-b9bda8265da3",
      "name": "Qdrant Write",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2432,
        240
      ],
      "parameters": {
        "url": "https://6ac62f30-e965-4b10-84f2-ce95caa09a4d.australia-southeast1-0.gcp.cloud.qdrant.io/collections/landtek_conversations/points",
        "method": "PUT",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "authentication": "genericCredentialType",
        "bodyParameters": {
          "parameters": [
            {
              "name": "points",
              "value": "={{ [{ id: $('Log Conversation').first().json.id, vector: $json.data[0].embedding, payload: { case_file: $('Parse Agent1').first().json.case_file, client_name: $('Context Builder').first().json.senderName, message: $('Context Builder').first().json.rawText, category: $('Parse Agent1').first().json.classification, timestamp: $('Parse Agent1').first().json.timestamp } }] }}"
            }
          ]
        },
        "genericAuthType": "httpHeaderAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "IpeNX6bgxvP87KMz",
          "name": "Qdrant Cloud (api-key)"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "1ce7114d-bb96-4ec9-8053-79df04b47d16",
      "name": "Resolve Folder ID",
      "type": "n8n-nodes-base.code",
      "position": [
        928,
        256
      ],
      "parameters": {
        "jsCode": "// Resolve Drive folder ID based on case_file + classification\nconst caseFile = $('Parse Agent1').first().json.case_file;\nconst classification = $('Parse Agent1').first().json.classification;\n\n// Default inbox for Owner / unknown / unmapped cases\nconst FALLBACK = '142QmpKv2DvWjJ46nhOq_C8HhN6xD4Zjy';\n\nconst folders = {\n  'Paracale-001': {\n    'Legal':    '1TKMNbNxnns0FdtEuvEPMLISnnmmy46jx',\n    'Finance':  '1qbKEeoj9yv-OcxxodAH9ec_oAwPkps_r',\n    'Evidence': '1EHYKQJxOZTxDxB5BliyuC0fvq5M2Tmhe',\n    'default':  '1TKMNbNxnns0FdtEuvEPMLISnnmmy46jx'  // Legal as default for Paracale-001\n  },\n  'MWK-001': {\n    'Legal':    '1y3w8gIS8SG66J2npfKhKQibOUpqwUTUi',\n    'Finance':  '1-LlWNPW7rzVYFsz_7gFl0cMjlA9kw1F0',\n    'Evidence': '176U9wV-8jsCtDp0hCuj-hff2J6h0BrEs',\n    'default':  '1y3w8gIS8SG66J2npfKhKQibOUpqwUTUi'  // Legal as default for MWK-001\n  }\n};\n\n// If case is Owner, unknown, empty, or not in our map \u2192 fallback inbox\nconst caseFolders = folders[caseFile];\nlet folderId;\nif (!caseFolders || caseFile === 'Owner' || !caseFile) {\n  folderId = FALLBACK;\n} else {\n  folderId = caseFolders[classification] || caseFolders['default'];\n}\n\nconst input = $input.first();\nreturn [{\n  json: {\n    ...input.json,\n    drive_folder_id: folderId,\n    drive_folder_case: caseFile || 'unknown',\n    drive_folder_classification: classification || 'unknown',\n    drive_folder_routed_to_fallback: folderId === FALLBACK\n  },\n  binary: input.binary\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "87f45d04-f34f-4b8f-865f-9fbc0c00c3b1",
      "name": "Has Target Contact",
      "type": "n8n-nodes-base.if",
      "position": [
        2592,
        240
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "f8f46ca1-c918-446a-99c9-eeac1c61d569",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $('Parse Agent1').first().json.target_message }}",
              "rightValue": ""
            },
            {
              "id": "auth-gate-isjonathan-only",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $('Context Builder').first().json.isJonathan }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "b21fde9b-9e81-4ce8-ab99-fb11cee52e20",
      "name": "Has File",
      "type": "n8n-nodes-base.if",
      "position": [
        640,
        272
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "9851b272-aabf-48a4-9c72-7e6f30e7c864",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.message_type }}",
              "rightValue": "file"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "tool-query_documents",
      "name": "query_documents",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        304,
        -560
      ],
      "parameters": {
        "url": "http://172.18.0.1:8765/api/query_documents",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "case_file",
              "valueProvider": "modelOptional"
            },
            {
              "name": "classification",
              "valueProvider": "modelOptional"
            },
            {
              "name": "year",
              "valueProvider": "modelOptional"
            },
            {
              "name": "keyword",
              "valueProvider": "modelOptional"
            },
            {
              "name": "limit",
              "valueProvider": "modelOptional"
            }
          ]
        },
        "toolDescription": "PRIMARY structured-query tool. Filter documents by case_file (Paracale-001|MWK-001|Owner), classification (Title (TCT/OCT)|Tax Document|Court Filing|Letter|Correspondence|Deed|Receipt|Contract|Email|Demand Letter|Power of Attorney|Notice|Affidavit|Government Submission|Special Power of Attorney|Complaint|Legal Memorandum|Other), year, or keyword. Returns documents ordered most recent first. Use for ANY list / every / all / latest / show me X in case Y question. PREFER this over cross_reference unless the user mentions a specific reference number."
      },
      "typeVersion": 1.1
    },
    {
      "id": "node-log-leo-interaction",
      "name": "Log Leo Interaction",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1904,
        608
      ],
      "parameters": {
        "url": "http://172.18.0.1:8765/api/log_interaction",
        "method": "POST",
        "options": {},
        "jsonBody": "={{ {\n  \"channel\": \"telegram\",\n  \"sender_id\": $('Context Builder').first().json.senderId,\n  \"sender_name\": $('Context Builder').first().json.senderName,\n  \"question\": ($('Context Builder').first().json.rawText || '[file upload, no caption]'),\n  \"case_file\": $('Parse Agent1').first().json.case_file,\n  \"response_json\": $('Parse Agent1').first().json,\n  \"reply_text\": $('Parse Agent1').first().json.telegram_reply_to_client,\n  \"execution_id\": $execution.id\n} }}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "tool-get_thread",
      "name": "get_thread",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        512,
        -560
      ],
      "parameters": {
        "url": "http://172.18.0.1:8765/api/get_thread",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "id",
              "valueProvider": "modelOptional"
            },
            {
              "name": "reference",
              "valueProvider": "modelOptional"
            },
            {
              "name": "name",
              "valueProvider": "modelOptional"
            }
          ]
        },
        "toolDescription": "Retrieve a specific case thread by id, primary_reference (e.g. 'NOR-CTN SL-2026-0423-1891', 'CV-2026-360'), or thread name (substring match). Returns: thread metadata + all linked documents + chronological events + related threads with relation_type (underlying_matter|next_step|shared_entity|sibling). Use whenever the user asks about a specific case/matter/referral by name or reference number. PRIMARY tool for 'what's the status of X case' or 'show me the X matter' questions."
      },
      "typeVersion": 1.1
    },
    {
      "id": "tool-list_threads",
      "name": "list_threads",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        608,
        -560
      ],
      "parameters": {
        "url": "http://172.18.0.1:8765/api/list_threads",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "case_file",
              "valueProvider": "modelOptional"
            }
          ]
        },
        "toolDescription": "List all case threads (matters within a case). Use to show the user what cases are being tracked. Optionally filter by case_file=Paracale-001|MWK-001|Owner. Returns each thread with status, opened_date, opposing_party, summary."
      },
      "typeVersion": 1.1
    },
    {
      "id": "tool-get_entity",
      "name": "get_entity",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        704,
        -560
      ],
      "parameters": {
        "url": "http://172.18.0.1:8765/api/get_entity",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "name",
              "valueProvider": "modelOptional"
            }
          ]
        },
        "toolDescription": "Look up a named entity (person, organization, reference, location, etc.) by name or alias. Returns full profile + every document mentioning them + role in each. Use for 'who is X', 'tell me about Y', 'what documents mention Z' questions."
      },
      "typeVersion": 1.1
    },
    {
      "id": "tool-pending_entity_types",
      "name": "pending_entity_types",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        800,
        -560
      ],
      "parameters": {
        "url": "http://172.18.0.1:8765/api/pending_entity_types",
        "sendQuery": true,
        "parametersQuery": {
          "values": []
        },
        "toolDescription": "List entity types proposed by the system that need user review (new categories of entities discovered in documents)."
      },
      "typeVersion": 1.1
    },
    {
      "id": "6ed964d1-5d51-4433-b19e-a49e14797297",
      "name": "fuzzy_find_entity",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        2400,
        1104
      ],
      "parameters": {
        "url": "http://172.18.0.1:8765/api/fuzzy_find_entity",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "name",
              "valueProvider": "modelOptional"
            },
            {
              "name": "type",
              "valueProvider": "modelOptional"
            },
            {
              "name": "min_sim",
              "valueProvider": "modelOptional"
            }
          ]
        },
        "toolDescription": "FUZZY entity finder. Use this when a name might be misspelled, abbreviated, or partial (e.g. \"Maria Vena\", \"Macale\", \"Geraldine Hop\"). Returns top-10 candidates ranked by trigram similarity + phonetic match. Then call get_entity on the best canonical_name to get full profile + documents. Params: name (required), type (optional: person|organization|reference|location), min_sim (optional, default 0.30)."
      },
      "typeVersion": 1.1
    },
    {
      "id": "311b14ab-573e-44ac-a30e-daf5ab7beb51",
      "name": "Split Cal/Notes",
      "type": "n8n-nodes-base.code",
      "onError": "continueRegularOutput",
      "position": [
        2192,
        16
      ],
      "parameters": {
        "jsCode": "const parsed = $('Parse Agent1').first().json;\nconst cal = parsed.calendar_event_to_save || {};\nconst note = parsed.chat_note_to_save || {};\nconst senderId = String(parsed.senderId || '');\nconst caseFile = parsed.case_file || 'Unknown';\n\nconst results = [];\n\nif (cal.title && cal.title.trim() !== '') {\n    results.push({ json: {\n          type: 'calendar_event',\n          title: cal.title.trim(),\n          description: cal.description || null,\n          start_at: cal.start_at || null,\n          end_at: cal.end_at || null,\n          location: cal.location || null,\n          related_tct: cal.related_tct || null,\n          related_case: cal.related_case || caseFile,\n          client_name: cal.client_name || null,\n          created_by_telegram_id: senderId\n    }});\n}\n\nif (note.content && note.content.trim() !== '') {\n    results.push({ json: {\n          type: 'chat_note',\n          content: note.content.trim(),\n          summary: note.summary || null,\n          topic: note.topic || null,\n          importance: note.importance || 1,\n          related_tct: note.related_tct || null,\n          related_case: note.related_case || caseFile,\n          client_name: note.client_name || null,\n          created_by_telegram_id: senderId\n    }});\n}\n\nif (results.length === 0) {\n    return [{ json: { skip: true } }];\n}\n\nreturn results;\n}\n    }})\n}\n    }})\n}"
      },
      "typeVersion": 2
    },
    {
      "id": "283bb4e3-f876-4530-acbf-5f023c6ab1da",
      "name": "Insert Calendar Event",
      "type": "n8n-nodes-base.postgres",
      "onError": "continueRegularOutput",
      "position": [
        2400,
        16
      ],
      "parameters": {
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "calendar_events"
        },
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "columns": {
          "value": {
            "title": "={{ $('Parse Agent1').first().json.calendar_event_to_save.title }}",
            "end_at": "={{ $('Parse Agent1').first().json.calendar_event_to_save.end_at }}",
            "source": "telegram",
            "status": "scheduled",
            "location": "={{ $('Parse Agent1').first().json.calendar_event_to_save.location }}",
            "start_at": "={{ $('Parse Agent1').first().json.calendar_event_to_save.start_at }}",
            "sender_id": "={{ $('Context Builder').first().json.senderId }}",
            "description": "={{ $('Parse Agent1').first().json.calendar_event_to_save.description }}",
            "related_tct": "={{ $('Parse Agent1').first().json.calendar_event_to_save.related_tct }}",
            "related_case": "={{ $('Parse Agent1').first().json.calendar_event_to_save.related_case || $('Parse Agent1').first().json.case_file }}",
            "source_msg_id": "={{ $('Telegram Trigger').first().json.message.message_id }}"
          },
          "schema": [
            {
              "id": "id",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "type": "string",
              "display": true,
              "removed": false,
              "required": true,
              "displayName": "title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "start_at",
              "type": "string",
              "display": true,
              "removed": false,
              "required": true,
              "displayName": "start_at",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "end_at",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "end_at",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "location",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "attendees",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "attendees",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "related_tct",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "related_tct",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "related_case",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "related_case",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "source",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "source_msg_id",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "source_msg_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "sender_id",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "sender_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "remind_before",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "remind_before",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "created_at",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "updated_at",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "client_id",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "client_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "kPUGFA1HrZZFWnzI",
          "name": "Postgres account 2"
        }
      },
      "typeVersion": 2.6
    },
    {
      "id": "b09abe2d-3712-455c-8adc-47da3245aa85",
      "name": "Insert Chat Note",
      "type": "n8n-nodes-base.postgres",
      "onError": "continueRegularOutput",
      "position": [
        2752,
        160
      ],
      "parameters": {
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "chat_notes"
        },
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "columns": {
          "value": {
            "topic": "={{ ['legal_strategy','evidence','people','deadlines','communications','task','misc'].includes($('Parse Agent1').first().json.chat_note_to_save.topic) ? $('Parse Agent1').first().json.chat_note_to_save.topic : 'misc' }}",
            "content": "={{ $('Parse Agent1').first().json.chat_note_to_save.content }}",
            "summary": "={{ $('Parse Agent1').first().json.chat_note_to_save.summary }}",
            "archived": false,
            "sender_id": "={{ $('Context Builder').first().json.senderId }}",
            "importance": "={{ $('Parse Agent1').first().json.chat_note_to_save.importance || 3 }}",
            "related_tct": "={{ $('Parse Agent1').first().json.chat_note_to_save.related_tct }}",
            "sender_name": "={{ $('Context Builder').first().json.senderName }}",
            "related_case": "={{ $('Parse Agent1').first().json.chat_note_to_save.related_case || $('Parse Agent1').first().json.case_file }}",
            "telegram_msg_id": "={{ $('Telegram Trigger').first().json.message.message_id }}"
          },
          "schema": [
            {
              "id": "id",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_msg_id",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "telegram_msg_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "sender_id",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "sender_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "sender_name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "sender_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "type": "string",
              "display": true,
              "removed": false,
              "required": true,
              "displayName": "content",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "topic",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "topic",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "related_entity_id",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "related_entity_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "related_tct",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "related_tct",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "related_case",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "related_case",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "related_event_id",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "related_event_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "importance",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "importance",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "archived",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "archived",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "created_at",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "client_id",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "client_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "kPUGFA1HrZZFWnzI",
          "name": "Postgres account 2"
        }
      },
      "typeVersion": 2.6
    },
    {
      "id": "db135969-7bbe-4bbe-a58b-d7d7d34fd07a",
      "name": "Fetch Pending Inquiries",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -48,
        -128
      ],
      "parameters": {
        "query": "(SELECT id, question_text, relayed_message, asked_at::text AS asked_at, target_client_name FROM pending_inquiries WHERE target_chat_id = '{{ $('Telegram Trigger').first().json.message.from.id }}' AND status='open' AND expires_at > now() ORDER BY asked_at ASC LIMIT 3) UNION ALL SELECT NULL::int, NULL::text, NULL::text, NULL::text, NULL::text;",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "kPUGFA1HrZZFWnzI",
          "name": "Postgres account 2"
        }
      },
      "typeVersion": 2.6
    },
    {
      "id": "1942c715-7346-4412-9f69-b51e84fba7cf",
      "name": "Log Pending Inquiry",
      "type": "n8n-nodes-base.postgres",
      "position": [
        2848,
        96
      ],
      "parameters": {
        "query": "INSERT INTO pending_inquiries (asked_by_chat_id, question_text, target_client_code, target_chat_id, target_client_name, relayed_message) VALUES ('{{ $('Telegram Trigger').first().json.message.from.id }}', '{{ ($('Telegram Trigger').first().json.message.text || $('Telegram Trigger').first().json.message.caption || '').replace(/'/g, \"''\") }}', COALESCE((SELECT client_code FROM clients WHERE telegram_id = '{{ $('Parse Agent1').first().json.target_chat_id }}' LIMIT 1), 'Unknown'), '{{ $('Parse Agent1').first().json.target_chat_id }}', COALESCE((SELECT name FROM clients WHERE telegram_id = '{{ $('Parse Agent1').first().json.target_chat_id }}' LIMIT 1), 'Unknown'), '{{ ($('Parse Agent1').first().json.target_message || '').replace(/'/g, \"''\") }}') RETURNING id;",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "kPUGFA1HrZZFWnzI",
          "name": "Postgres account 2"
        }
      },
      "typeVersion": 2.6
    },
    {
      "id": "362a3899-3aab-49b0-a7eb-18bbfcd4d135",
      "name": "Close Pending Inquiry",
      "type": "n8n-nodes-base.postgres",
      "position": [
        928,
        480
      ],
      "parameters": {
        "query": "UPDATE pending_inquiries SET status='answered',     response_text='{{ ($json.pending_inquiry_resolution.response_text || '').replace(/'/g, \"''\") }}',     responded_at=now(),     ai_match_confidence={{ $json.pending_inquiry_resolution.confidence || 0 }},     closed_reason='auto_matched' WHERE id = {{ $json.pending_inquiry_resolution.id }} RETURNING id, target_client_name, response_text;",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "kPUGFA1HrZZFWnzI",
          "name": "Postgres account 2"
        }
      },
      "typeVersion": 2.6
    },
    {
      "id": "1797c3cd-4b7d-441a-a65b-6e04a8bb634f",
      "name": "Notify Jonathan of Resolution",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1184,
        480
      ],
      "webhookId": "1bfc1a3e-50b1-4afe-aa4c-bea0a62b84c3",
      "parameters": {
        "text": "={{ $('Parse Agent1').first().json.target_message }}",
        "chatId": "6513067717",
        "parseMode": "HTML",
        "additionalFields": {
          "parse_mode": "HTML",
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "dSI1mdlTrzwdd1B8",
          "name": "Telegram account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "95f1093b-ee68-439e-8e39-e4d8aad220e1",
      "name": "Extract File Text",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        920,
        256
      ],
      "parameters": {
        "url": "http://172.18.0.1:8765/api/extract_file_text",
        "method": "POST",
        "options": {
          "timeout": 60000
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            },
            {
              "name": "original_filename",
              "value": "={{ $binary.data.fileName || $('Telegram Trigger').first().json.message?.document?.file_name || 'uploaded_file' }}"
            },
            {
              "name": "mime_type",
              "value": "={{ $binary.data.mimeType || '' }}"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "3cc48825-1f24-4222-9b8e-380ad620288c",
      "name": "Re-attach Binary",
      "type": "n8n-nodes-base.code",
      "position": [
        1120,
        256
      ],
      "parameters": {
        "jsCode": "// Re-attach Binary \u2014 deploy_064\n// HTTP Request nodes don't propagate input binary. Re-merge the binary\n// from Get a file so downstream nodes (Resolve Folder ID, Upload file)\n// have it available.\n\nconst original = items[0];\nconst getAFileBinary = $('Get a file').first().binary || {};\n\nreturn [{\n    json: original.json,\n    binary: getAFileBinary,\n}];\n"
      },
      "typeVersion": 2
    },
    {
      "id": "d12d2aa5-2dd2-40e9-af69-d67d95624ca4",
      "name": "Fetch Pending Context",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -48,
        -28
      ],
      "parameters": {
        "query": "(SELECT id, target_telegram_id, target_client_name, context_text, created_at::text AS created_at\n  FROM pending_context\n WHERE target_telegram_id = '{{ $('Telegram Trigger').first().json.message.from.id }}'::text\n   AND used_at IS NULL\n ORDER BY created_at ASC\n LIMIT 5)\nUNION ALL SELECT NULL::int, NULL::text, NULL::text, NULL::text, NULL::text;",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "kPUGFA1HrZZFWnzI",
          "name": "Postgres account 2"
        }
      },
      "typeVersion": 2.6
    },
    {
      "id": "fb5773ae-135b-49f7-9e0a-04ecb51a1383",
      "name": "If Has Context To Save",
      "type": "n8n-nodes-base.if",
      "position": [
        152,
        172
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "fac0c02c-c81c-4816-b1d6-55c683ddb209",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ String(($json.pending_context_to_save || {}).target_telegram_id || '') }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "2064844f-b772-41be-8cbe-c1eace3eada6",
      "name": "Save Pending Context",
      "type": "n8n-nodes-base.postgres",
      "onError": "continueRegularOutput",
      "position": [
        352,
        172
      ],
      "parameters": {
        "query": "INSERT INTO pending_context (target_telegram_id, target_client_name, context_text)\nVALUES (\n  '{{ $json.pending_context_to_save.target_telegram_id }}'::text,\n  NULLIF('{{ $json.pending_context_to_save.target_client_name }}', '')::text,\n  '{{ $json.pending_context_to_save.context_text }}'::text\n) RETURNING id;",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "kPUGFA1HrZZFWnzI",
          "name": "Postgres account 2"
        }
      },
      "typeVersion": 2.6
    },
    {
      "id": "216533ba-16c6-4d16-8517-99f5d392fa5f",
      "name": "If Context Was Used",
      "type": "n8n-nodes-base.if",
      "position": [
        152,
        372
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "5b9c7870-abc9-410a-8364-915c5445b42a",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ Number(($json.context_used || {}).context_id || 0) }}",
              "rightValue": 0
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "47eef05c-ba21-4469-bbdd-cfca5b3aac6f",
      "name": "Mark Context Used",
      "type": "n8n-nodes-base.postgres",
      "onError": "continueRegularOutput",
      "position": [
        352,
        372
      ],
      "parameters": {
        "query": "UPDATE pending_context\n   SET used_at = now(),\n       used_in_reply = '{{ $json.context_used.wording }}'::text\n WHERE id = {{ $json.context_used.context_id }}\n RETURNING id, target_telegram_id, context_text;",
        "options": {},
        "operation": "executeQuery"
      },
      "credentials": {
        "postgres": {
          "id": "kPUGFA1HrZZFWnzI",
          "name": "Postgres account 2"
        }
      },
      "typeVersion": 2.6
    },
    {
      "id": "836db5f9-3237-4a7f-b5f8-aee950adf69b",
      "name": "Confirm Context To Jonathan",
      "type": "n8n-nodes-base.telegram",
      "onError": "continueRegularOutput",
      "position": [
        552,
        372
      ],
      "parameters": {
        "text": "\u2713 Used your context on {{ $json.target_telegram_id }}.\n\nContext: \"{{ $json.context_text }}\"\nWording I used: \"{{ $('Parse Agent1').first().json.context_used.wording }}\"\n\nRow marked used. New row needed for next inject.",
        "chatId": "6513067717",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "dSI1mdlTrzwdd1B8",
          "name": "Telegram account"
        }
      },
      "typeVersion": 1.2
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Log Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has File": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract File Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Safe Reply": {
      "main": [
        [
          {
            "node": "Reply to Client",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reply to Jonathan",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Log File Receipt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Embed": {
      "main": [
        [
          {
            "node": "Qdrant Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent1": {
      "main": [
        [
          {
            "node": "Switch router",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Conversation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Leo Interaction",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Cal/Notes",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Has Context To Save",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Context Was Used",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has Target Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Write": {
      "main": [
        []
      ]
    },
    "Switch router": {
      "main": [
        [
          {
            "node": "Close Pending Inquiry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Safe Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ask Clarification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Safe Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New Client Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep sheet update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Safe Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Context Builder": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to Client": {
      "main": [
        []
      ]
    },
    "Split Cal/Notes": {
      "main": [
        [
          {
            "node": "Insert Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Chat Note": {
      "main": [
        [
          {
            "node": "Log Leo Interaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Conversation": {
      "main": [
        [
          {
            "node": "Update Case Intelligence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-attach Binary": {
      "main": [
        [
          {
            "node": "Resolve Folder ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract File Text": {
      "main": [
        [
          {
            "node": "Re-attach Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log File Receipt1": {
      "main": [
        []
      ]
    },
    "Mark Context Used": {
      "main": [
        [
          {
            "node": "Confirm Context To Jonathan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep sheet update": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to Jonathan": {
      "main": [
        []
      ]
    },
    "Resolve Folder ID": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Safe Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Target Contact": {
      "main": [
        [
          {
            "node": "Send to Target Contact",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split Action Items": {
      "main": [
        [
          {
            "node": "Insert Action Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Fetch Pending Inquiries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Context Was Used": {
      "main": [
        [
          {
            "node": "Mark Context Used",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Insert Action Items": {
      "main": [
        [
          {
            "node": "Gemini Embed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Leo Interaction": {
      "main": [
        []
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Safe Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Close Pending Inquiry": {
      "main": [
        [
          {
            "node": "Notify Jonathan of Resolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Client Row": {
      "main": [
        [
          {
            "node": "Reply to Jonathan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create file from text": {
      "main": [
        [
          {
            "node": "Prep sheet update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pending Context": {
      "main": [
        [
          {
            "node": "Context Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Calendar Event": {
      "main": [
        [
          {
            "node": "Insert Chat Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Context To Save": {
      "main": [
        [
          {
            "node": "Save Pending Context",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send to Target Contact": {
      "main": [
        [
          {
            "node": "Log Pending Inquiry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pending Inquiries": {
      "main": [
        [
          {
            "node": "Fetch Pending Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        []
      ]
    },
    "Update Case Intelligence": {
      "main": [
        [
          {
            "node": "Split Action Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}