snapshots/inactive_workflows/kKsl3UygLh02acvc.json
{"id":"kKsl3UygLh02acvc","name":"Landtek - Smartfiler","nodes":[{"parameters":{"url":"=https://sheets.googleapis.com/v4/spreadsheets/1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ/values/Clients?key=AIzaSyBdSFvQ3az74F1AH6pSSqCiCfEov2ffjQs","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[608,352],"id":"d8e1e195-584b-4477-82c6-30568a715559","name":"HTTP Request"},{"parameters":{"jsCode":"const data = $input.first().json;\nconsole.log('Full data:', JSON.stringify(data));\n\nconst message = data.message;\nconsole.log('Message:', JSON.stringify(message));\n\nreturn [{ json: { debug: data } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,352],"id":"cb0b230f-01a2-4992-9283-30741759478d","name":"Code in JavaScript"},{"parameters":{"jsCode":"const httpData = $('HTTP Request').first().json;\n\nif (!httpData || !httpData.values) {\n  return [{ json: { error: 'No sheet data', ...$('Code in JavaScript').first().json } }];\n}\n\nconst rows = httpData.values;\nconst headers = rows[0];\nconst telegramId = $('Code in JavaScript').first().json.telegram_id;\n\nconst match = rows.slice(1).find(row => String(row[0]) === String(telegramId));\n\nif (match) {\n  const client = {};\n  headers.forEach((header, i) => {\n    client[header] = match[i] || '';\n  });\n  return [{\n    json: {\n      ...$('Code in JavaScript').first().json,\n      client_id: match[3] || 'Unknown',\n      client_name: match[1] || 'Unknown',\n      client_found: true,\n      client_instructions: match[5] || '',\n    }\n  }];\n} else {\n  return [{\n    json: {\n      ...$('Code in JavaScript').first().json,\n      client_found: false,\n      client_id: 'UNKNOWN',\n      client_name: 'Unknown Sender'\n    }\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,352],"id":"b3ebb38b-e950-4c08-b85a-8eb5a3574004","name":"Code in JavaScript1"}],"connections":{"HTTP Request":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"active":false,"createdAt":"2026-04-17T08:49:33.699+00:00","updatedAt":"2026-05-09T05:34:02.934+00:00"}
