snapshots/inactive_workflows/OHsgPZ4G7FwZUGAM.json
{"id":"OHsgPZ4G7FwZUGAM","name":"Import workflow","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"72561b2b-7ffb-4341-b366-75d299927d48","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ","mode":"list","cachedResultName":"Landtek Clients","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":85374455,"mode":"list","cachedResultName":"Clients","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ/edit#gid=85374455"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[208,0],"id":"f16cfd8d-368a-48c6-afeb-83792915b7dc","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"UIpfEo8bJKRbhDrG","name":"Google Sheets account 3"}}},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"clients","mode":"list","cachedResultName":"clients"},"columns":{"mappingMode":"defineBelow","value":{"name":"={{ $json['Name'] }}","telegram_id":"={{ $json['Telegram ID'] || null }}","case_file":"={{ $json['Case File'] }}","status":"={{ $json['Status'] }}","email":"={{ $json['Email '] }}","instructions":"={{ $json['Instructions / Style'] }}","phone":"={{ $json['Phone'] }}","telegram_username":"={{ $json['Telegram Username'] }}","legal_folder_path":"={{ $json['Legal Folder Path'] }}","finance_folder_path":"={{ $json['Finance Folder Path'] }}","project_folder_path":"={{ $json['Project Folder Path'] }}","company":"={{ $json['Company'] }}"},"matchingColumns":["case_file"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"telegram_id","displayName":"telegram_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"company","displayName":"company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"case_file","displayName":"case_file","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"instructions","displayName":"instructions","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"telegram_username","displayName":"telegram_username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"legal_folder_path","displayName":"legal_folder_path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"finance_folder_path","displayName":"finance_folder_path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"project_folder_path","displayName":"project_folder_path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[416,0],"id":"4bf134b9-4732-40cc-baf0-de6c15babfc6","name":"Insert or update rows in a table","credentials":{"postgres":{"id":"kPUGFA1HrZZFWnzI","name":"Postgres account 2"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Insert or update rows in a table","type":"main","index":0}]]}},"active":false,"createdAt":"2026-05-08T21:00:24.493+00:00","updatedAt":"2026-05-09T01:40:03.527+00:00"}
