snapshots/inactive_workflows/zIPZDPkq7o2mPenX.json
{"id":"zIPZDPkq7o2mPenX","name":"Super Leo Agentic Tracking","nodes":[{"parameters":{"updates":["*"],"additionalFields":{"download":true}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1984,224],"id":"62b5da8f-fb5a-4893-9aae-1cc142a8f072","name":"Telegram Trigger","webhookId":"29ab932d-bc8a-4d4c-a834-999ce4f88043","credentials":{"telegramApi":{"id":"dSI1mdlTrzwdd1B8","name":"Telegram account"}}},{"parameters":{"promptType":"define","text":"={{ $('Context Builder').first().json.agentInput }}","options":{"systemMessage":"=You are LeoLandTek, the intelligent property management assistant for Landtek.\n\n## Jonathan (Owner)\n- Telegram ID: 6513067717\n- Highest priority. Follow his instructions directly.\n- Always send him a private strategic summary.\n- Never withhold information.\n\n## Core Rules\n- Use conversation history and context clues to identify clients intelligently.\n- \"Worrick\", \"Mary\", \"estate\", \"administrator\", \"heir\", \"beneficiary\", \"executor\" → Worrick-001\n- \"Allan\", \"Inocalla\", \"Paracale Gold\", \"mining\", \"gold\" → Paracale-001\n- Messages from Jonathan without clear case → Owner\n- If Jonathan has already approved someone, treat them as authorized\n- Never ask clients for Case File codes — they don't know our system\n- Only set needs_clarification = true if you genuinely cannot identify the client\n\n## Onboarding New Contacts\n**Path A — Jonathan adds a client**\nExtract name, phone, email, case association, notes\nSet create_new_client = true and populate new_client_data\nIf phone or email missing, ask Jonathan first\n\n**Path B — Unknown person contacts Leo**\nSend exactly:\n\"Hello! I'm LeoLandTek, the Landtek property management assistant. Please share your full name, contact number, and how we can help you today. Someone from our team will follow up shortly.\"\nSet new_contact_detected = true\nNotify Jonathan privately with their Telegram ID, name, and concern\n\n## File Uploads During Onboarding\nIf an unknown contact uploads a document:\n- ALWAYS save it immediately to Inbox/Unclassified/\n- Use filename: UNKNOWN_[TelegramID]_[date]_[originalfilename]\n- Acknowledge to the sender: \"Thank you, your document has been received and is being reviewed by our team.\"\n- Notify Jonathan: \"Unknown contact [name] (ID: [id]) uploaded a file. Saved to Inbox/Unclassified/. Do you know this person? Which case should they be associated with?\"\n- Set message_type = \"file\" so the file pipeline runs\n- Set new_contact_detected = true for Jonathan notification\n- Do NOT wait for identification before saving the file\n\n## Contacting Other People on Jonathan's Instruction\nWhen Jonathan says \"ask him\", \"tell her\", \"request from\", or similar instructions about another person:\n- Find their Client ID from the Clients sheet data provided\n- Set target_chat_id to their Client ID (Telegram ID)\n- Set target_message to the exact message to send them\n- Confirm to Jonathan the message was sent\n\n## Folder Routing\n- Legal documents → Legal/\n- Financial docs → Finance/\n- Property photos → Projects/\n- Evidence/disputes → Evidence/\n- Meeting notes/text → Conversations/\n- Unknown/unidentified → Inbox/Unclassified/\n\n## Output — Single Valid JSON Object Only\n{\n  \"message_type\": \"file | text_only\",\n  \"case_file\": \"Owner | Paracale-001 | Worrick-001 | Unknown\",\n  \"classification\": \"Legal | Finance | Evidence | Compliance | Meeting Notes | Owner Instruction | Maintenance | Other\",\n  \"drive_folder_path\": \"Full path or Inbox/Unclassified/\",\n  \"smart_filename\": \"Clean filename or empty for text_only\",\n  \"create_new_subfolder\": false,\n  \"context_md_content\": \"# [Case File] — [Classification] — [Date]\\n**Source:** [File/Text]\\n**Sender:** [Name]\\n\\n## Summary\\n[2-3 sentences]\\n\\n## Strategic Relevance\\n[Impact on goals]\\n\\n## Deadlines or Dates Identified\\n[Bullet list or None]\\n\\n## Recommended Next Steps\\n[Bullet list]\",\n  \"status_update\": \"\",\n  \"next_milestone\": \"\",\n  \"key_risks\": \"\",\n  \"priority_level\": \"High | Medium | Low\",\n  \"client_intelligence_update\": \"\",\n  \"open_strategic_gaps\": \"\",\n  \"anticipated_next_steps\": \"\",\n  \"create_new_client\": false,\n  \"new_client_data\": {\n    \"name\": \"\",\n    \"phone\": \"\",\n    \"email\": \"\",\n    \"case_file\": \"\",\n    \"company\": \"\",\n    \"notes\": \"\"\n  },\n  \"new_contact_detected\": false,\n  \"create_action_item\": false,\n  \"action_description\": \"\",\n  \"action_due_date\": \"\",\n  \"email_update\": \"\",\n  \"phone_update\": \"\",\n  \"telegram_username_update\": \"\",\n  \"needs_clarification\": false,\n  \"clarification_question\": \"\",\n  \"telegram_reply_to_client\": \"Professional reply in plain text — no Markdown\",\n  \"telegram_summary_for_jonathan\": \"Strategic summary ending with clear question or action — plain text\",\n  \"target_chat_id\": \"\",\n  \"target_message\": \"\"\n}\n\n## Rules\n- Keep telegram_reply_to_client and telegram_summary_for_jonathan as plain text — no Markdown bold or headers\n- Always try to fill status_update, next_milestone, key_risks, priority_level when clues exist\n- For text-only: drive_folder_path ends with /Conversations/\n- For unknown contacts with files: drive_folder_path = Inbox/Unclassified/\n- Capture email, phone, username in update fields when detected\n- When Jonathan instructs you to contact someone, always set target_chat_id and target_message\n\nRespond with nothing but a single valid JSON object. No explanations. No markdown fences. Start with { and end with }."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-736,80],"id":"d54f3ae5-4c6d-4fad-becd-2b3f9a828e77","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-5-20250929","cachedResultName":"Claude Sonnet 4.5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-736,656],"id":"ec992b10-8828-4a08-83cb-25b45362076f","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"VXehGYFvTPT2EZJB","name":"Anthropic account"}}},{"parameters":{"jsCode":"const msg = $('Telegram Trigger').first().json.message || {};\n// Client profile from Node 2\nconst clientData = $('Get Client Profile').all();\nconst clientRow = clientData.length > 0 ? clientData[0].json : null;\n// Recent conversations from Node 3\nconst recentConvs = $('Get Recent Conversations').all() || [];\nconst conversationHistory = recentConvs\n  .slice(-6)\n  .map(r => `[${r.json['Timestamp'] || ''}] Message: ${r.json['Client Message / Caption'] || ''} | Leo: ${r.json[\"Leo's Response / Summary\"] || ''}`)\n  .join('\\n');\n// Sender info\nconst senderId = msg.from?.id?.toString() || \"\";\nconst senderName = [msg.from?.first_name, msg.from?.last_name].filter(Boolean).join(\" \") || \"Unknown\";\nconst senderUsername = msg.from?.username || \"\";\nconst isJonathan = senderId === \"6513067717\";\nconst hasFile = !!(msg.document || msg.photo || msg.audio || msg.video || msg.voice);\nconst messageType = hasFile ? \"file\" : \"text_only\";\nconst rawText = msg.caption || msg.text || \"\";\n// Case file detection\nlet caseFile = rawText.match(/[A-Za-z]+-\\d{3}/)?.[0] || null;\nif (clientRow) {\n  caseFile = clientRow['Case File'] || caseFile;\n}\n// Build client profile string\nconst clientProfile = clientRow ? `Client Name: ${clientRow['Name'] || \"\"}\nCompany: ${clientRow['Company'] || \"\"}\nCase File: ${clientRow['Case File'] || \"\"}\nStatus: ${clientRow['Status'] || \"\"}\nInstructions: ${clientRow['Instructions / Style'] || \"\"}\nCurrent Goals: ${clientRow['Current Goals'] || \"\"}\nProject Status: ${clientRow['Project Status'] || \"\"}\nNext Milestone: ${clientRow['Next Milestone'] || \"\"}\nKey Risks: ${clientRow['Key Risks'] || \"\"}\nPriority: ${clientRow['Priority Level'] || \"\"}\nEmail: ${clientRow['Email'] || \"\"}\nPhone: ${clientRow['Phone'] || \"\"}\nTelegram Username: ${clientRow['Telegram Username'] || \"\"}\nLegal Folder Path: ${clientRow['Legal Folder Path'] || \"\"}\nFinance Folder Path: ${clientRow['Finance Folder Path'] || \"\"}\nProject Folder Path: ${clientRow['Project Folder Path'] || \"\"}\nClient Intelligence Summary: ${clientRow['Client Intelligence Summary'] || \"\"}\nOpen Strategic Gaps: ${clientRow['Open Strategic Gaps'] || \"\"}\nLast Interaction Summary: ${clientRow['Last Interaction Summary'] || \"\"}`\n: \"No matching client profile found. This is an unknown contact.\";\n// File info\nlet fileInfo = \"No file attached.\";\nif (hasFile) {\n  const doc = msg.document || {};\n  const photo = msg.photo?.[msg.photo.length - 1] || {};\n  fileInfo = `File type: ${msg.document ? \"document\" : msg.photo ? \"photo\" : \"other\"}\nOriginal filename: ${doc.file_name || \"unnamed\"}\nMIME type: ${doc.mime_type || \"unknown\"}\nFile size: ${doc.file_size || photo.file_size || \"unknown\"} bytes`;\n}\n// Build agent input\nconst agentInput = `SENDER:\nName: ${senderName}\nTelegram ID: ${senderId}\nTelegram Username: @${senderUsername}\nIs Jonathan (owner): ${isJonathan}\nIs Known Client: ${clientRow ? 'Yes' : 'No'}\nMESSAGE TYPE: ${messageType}\nTIMESTAMP: ${new Date().toISOString()}\nMESSAGE:\n${rawText || \"(no text provided)\"}\nFILE INFO:\n${fileInfo}\nCLIENT PROFILE:\n${clientProfile}\nRECENT CONVERSATION HISTORY (last 6 interactions):\n${conversationHistory || \"No previous conversations on record.\"}`;\nreturn [{\n  json: {\n    agentInput,\n    messageType,\n    isJonathan,\n    senderId,\n    senderName,\n    senderUsername,\n    caseFile: caseFile || \"Unknown\",\n    clientRow,\n    rawText,\n    hasFile,\n    fileId: hasFile ? (msg.document?.file_id || msg.photo?.[msg.photo.length-1]?.file_id || null) : null,\n    fileName: msg.document?.file_name || null,\n    chatId: msg.chat?.id?.toString() || \"\",\n    rowNumber: clientRow ? clientRow['row_number'] : null\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-848,-160],"id":"5fe23e27-1ebc-4736-8204-72d85fd7f0c3","name":"Context Builder"},{"parameters":{"chatId":"6513067717","text":"={{ $json.clarification_question }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[512,-336],"id":"1984417f-faa4-4553-92fc-631ef6565ab4","name":"Ask Clarification","webhookId":"944a0b4b-44a4-4544-99f9-ef6946648995","credentials":{"telegramApi":{"id":"dSI1mdlTrzwdd1B8","name":"Telegram account"}}},{"parameters":{"name":"={{ $json.smart_filename }}","driveId":{"__rl":true,"value":"=","mode":"url"},"folderId":{"__rl":true,"value":"=142QmpKv2DvWjJ46nhOq_C8HhN6xD4Zjy","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1104,-16],"id":"e033279f-c867-45a9-a369-36d9f08aa06e","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"6KyIcqTperzB77MB","name":"Google Drive account"}}},{"parameters":{"operation":"createFromText","content":"={{ $json.context_md_content }}","name":"={{ $json.case_file + '_Context.md' }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"=142QmpKv2DvWjJ46nhOq_C8HhN6xD4Zjy","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[848,-304],"id":"d90d4e45-d726-47c0-820f-5902cd9fc2b0","name":"Create file from text","credentials":{"googleDriveOAuth2Api":{"id":"6KyIcqTperzB77MB","name":"Google Drive account"}}},{"parameters":{"resource":"file","fileId":"={{ $json.fileId }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[592,-144],"id":"6b1a847e-342f-479c-842f-8c6d2c2bde65","name":"Get a file","webhookId":"5adb471f-e205-4bc8-9ad1-bbba51c43fab","credentials":{"telegramApi":{"id":"dSI1mdlTrzwdd1B8","name":"Telegram account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ","mode":"list","cachedResultName":"Landtek Clients","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":85374455,"mode":"list","cachedResultName":"Clients","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ/edit#gid=85374455"},"columns":{"mappingMode":"defineBelow","value":{"Phone":"={{ $json.sheetUpdates['Phone'] }}","Email ":"={{ $json.sheetUpdates['Email'] }}","Open Strategic Gaps":"={{ $json.sheetUpdates['Open Strategic Gaps'] }}","Last Leo Review":"={{ $json.sheetUpdates['Last Leo Review'] }}","Telegram Username":"={{ $json.sheetUpdates['Telegram Username'] }}","Client Intelligence Summary":"={{ $json.sheetUpdates['Client Intelligence Summary'] }}","Priority Level":"={{ $json.sheetUpdates['Priority Level'] }}","Key Risks":"={{ $json.sheetUpdates['Key Risks'] }}","Next Milestone":"={{ $json.sheetUpdates['Next Milestone'] }}","row_number":0},"matchingColumns":["row_number"],"schema":[{"id":"Client ID","displayName":"Client ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company","displayName":"Company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Case File","displayName":"Case File","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Instructions / Style","displayName":"Instructions / Style","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Current Goals","displayName":"Current Goals","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Project Status","displayName":"Project Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Next Milestone","displayName":"Next Milestone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Key Risks","displayName":"Key Risks","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Priority Level","displayName":"Priority Level","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Legal Folder Path","displayName":"Legal Folder Path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Finance Folder Path","displayName":"Finance Folder Path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Project Folder Path","displayName":"Project Folder Path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Updated","displayName":"Last Updated","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LeoLandTek Notes","displayName":"LeoLandTek Notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Client Intelligence Summary","displayName":"Client Intelligence Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Leo Review","displayName":"Last Leo Review","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Open Strategic Gaps","displayName":"Open Strategic Gaps","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email ","displayName":"Email ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telegram Username","displayName":"Telegram Username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[960,-80],"id":"ae6c1c04-f9ef-4e9b-bacd-a9f95593490f","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"UIpfEo8bJKRbhDrG","name":"Google Sheets account 3"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const input = $input.first().json;\n\n// Skip sheet update if no row number\nif (!input.rowNumber) {\n  return [{\n    json: {\n      ...input,\n      sheetUpdates: {},\n      skipUpdate: true\n    }\n  }];\n}\n\nconst updates = {};\n\nif (input.status_update && input.status_update.trim() !== \"\") {\n  updates[\"Project Status\"] = input.status_update.trim();\n}\nif (input.next_milestone && input.next_milestone.trim() !== \"\") {\n  updates[\"Next Milestone\"] = input.next_milestone.trim();\n}\nif (input.key_risks && input.key_risks.trim() !== \"\") {\n  updates[\"Key Risks\"] = input.key_risks.trim();\n}\nif (input.priority_level && input.priority_level.trim() !== \"\") {\n  updates[\"Priority Level\"] = input.priority_level.trim();\n}\nif (input.client_intelligence_update && input.client_intelligence_update.trim() !== \"\") {\n  updates[\"Client Intelligence Summary\"] = input.client_intelligence_update.trim();\n}\nif (input.open_strategic_gaps && input.open_strategic_gaps.trim() !== \"\") {\n  updates[\"Open Strategic Gaps\"] = input.open_strategic_gaps.trim();\n}\nif (input.email_update && input.email_update.trim() !== \"\") {\n  updates[\"Email\"] = input.email_update.trim();\n}\nif (input.phone_update && input.phone_update.trim() !== \"\") {\n  updates[\"Phone\"] = input.phone_update.trim();\n}\nif (input.telegram_username_update && input.telegram_username_update.trim() !== \"\") {\n  updates[\"Telegram Username\"] = input.telegram_username_update.trim();\n}\n\nupdates[\"Last Leo Review\"] = new Date().toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    ...input,\n    sheetUpdates: updates,\n    rowNumber: input.rowNumber\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,-32],"id":"dd84fa7e-236e-4f77-8226-78c1379bba2b","name":"Prep sheet update"},{"parameters":{"chatId":"6513067717","text":"={{ $json.telegram_summary_for_jonathan }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[256,544],"id":"559ae287-d831-4b73-aa08-ef04b17b5208","name":"Reply to Jonathan","webhookId":"769c37dd-75de-4884-a436-7b89908c9646","credentials":{"telegramApi":{"id":"dSI1mdlTrzwdd1B8","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.needs_clarification }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"5db3e41e-f09a-43fc-8dd7-9a9b26f7fb69"}],"combinator":"and"},"renameOutput":true,"outputKey":"clarification"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cd216594-0ae5-4a62-a5b0-0c5c53e6a2c7","leftValue":"{{ $json.message_type }}","rightValue":"file","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"process_file"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d3ee3a71-e400-4c17-943b-deb1480d01bd","leftValue":"={{ $json.message_type }}","rightValue":"text_only","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"process_text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"43c1c05f-24fb-48f3-96c4-1f647d25d21c","leftValue":"={{ $json.create_new_client }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"create_client"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9592f8eb-67a3-46b5-9319-c93a51dcb52a","leftValue":"={{ $json.new_contact_detected }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"new_contact"}]},"options":{"fallbackOutput":"none"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[240,-496],"id":"df91b355-affd-4dfb-b743-fc8e75882e60","name":"Switch router"},{"parameters":{"chatId":"={{ $('Parse Claude ').first().json.chatId }}","text":"={{ $('Parse Claude ').first().json.telegram_reply_to_client }}","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-32,80],"id":"dc472a07-8655-495d-8d3e-13dc8310f2b7","name":"Reply to Client","webhookId":"994d6566-6d03-4866-94fb-7210b174d5f7","credentials":{"telegramApi":{"id":"dSI1mdlTrzwdd1B8","name":"Telegram account"}}},{"parameters":{"jsCode":"const data = $('Parse Claude ').first().json || {};\n\nconst safeClientReply = (data.telegram_reply_to_client && data.telegram_reply_to_client.trim() !== \"\")\n  ? data.telegram_reply_to_client\n  : !data.rowNumber \n    ? \"Hello! I'm LeoLandTek, the Landtek property management assistant. Please share your full name, contact number, and how we can help you today. Someone from our team will follow up shortly.\"\n    : \"Thank you. I've noted your message and will process it accordingly.\";\n\nconst safeJonathanSummary = (data.telegram_summary_for_jonathan && data.telegram_summary_for_jonathan.trim() !== \"\")\n  ? data.telegram_summary_for_jonathan\n  : \"New message received and processed.\";\n\nreturn [{\n  json: {\n    ...data,\n    telegram_reply_to_client: safeClientReply,\n    telegram_summary_for_jonathan: safeJonathanSummary,\n    target_chat_id: data.target_chat_id || \"\",\n    target_message: data.target_message || \"\"\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,96],"id":"aaadeaea-94ff-4e53-b3a0-f1060721db98","name":"Safe Reply"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ","mode":"list","cachedResultName":"Landtek Clients","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":85374455,"mode":"list","cachedResultName":"Clients","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ/edit#gid=85374455"},"columns":{"mappingMode":"defineBelow","value":{"Client ID":"={{ $json.chatId }}","Name":"={{ $json.new_client_data.name }}","Company":"={{ $json.new_client_data.company }}","Case File":"={{ $json.new_client_data.case_file }}","Status":"Active","Email ":"={{ $json.new_client_data.email }}","Phone":"={{ $json.new_client_data.phone }}","Instructions / Style":"={{ $json.new_client_data.notes }}"},"matchingColumns":[],"schema":[{"id":"Client ID","displayName":"Client ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company","displayName":"Company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Case File","displayName":"Case File","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Instructions / Style","displayName":"Instructions / Style","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Current Goals","displayName":"Current Goals","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Project Status","displayName":"Project Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Next Milestone","displayName":"Next Milestone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Key Risks","displayName":"Key Risks","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Priority Level","displayName":"Priority Level","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Legal Folder Path","displayName":"Legal Folder Path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Finance Folder Path","displayName":"Finance Folder Path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Project Folder Path","displayName":"Project Folder Path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Updated","displayName":"Last Updated","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LeoLandTek Notes","displayName":"LeoLandTek Notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Client Intelligence Summary","displayName":"Client Intelligence Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Leo Review","displayName":"Last Leo Review","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Open Strategic Gaps","displayName":"Open Strategic Gaps","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email ","displayName":"Email ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telegram Username","displayName":"Telegram Username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[160,80],"id":"596a2104-29b9-4332-87d7-97f50bb5683e","name":"Create New Client Row","credentials":{"googleSheetsOAuth2Api":{"id":"UIpfEo8bJKRbhDrG","name":"Google Sheets account 3"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ","mode":"list","cachedResultName":"Landtek Clients","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":85374455,"mode":"list","cachedResultName":"Clients","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ/edit#gid=85374455"},"columns":{"mappingMode":"defineBelow","value":{"Client ID":"={{ $json.chatId }}","Name":"={{ $json.senderName }}","Status":"onboarding","Instructions / Style":"New contact during onboarding. Awaiting Jonathan's approval."},"matchingColumns":[],"schema":[{"id":"Client ID","displayName":"Client ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company","displayName":"Company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Case File","displayName":"Case File","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Instructions / Style","displayName":"Instructions / Style","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Current Goals","displayName":"Current Goals","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Project Status","displayName":"Project Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Next Milestone","displayName":"Next Milestone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Key Risks","displayName":"Key Risks","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Priority Level","displayName":"Priority Level","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Legal Folder Path","displayName":"Legal Folder Path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Finance Folder Path","displayName":"Finance Folder Path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Project Folder Path","displayName":"Project Folder Path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Updated","displayName":"Last Updated","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LeoLandTek Notes","displayName":"LeoLandTek Notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Client Intelligence Summary","displayName":"Client Intelligence Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Leo Review","displayName":"Last Leo Review","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Open Strategic Gaps","displayName":"Open Strategic Gaps","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email ","displayName":"Email ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telegram Username","displayName":"Telegram Username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[400,0],"id":"d7ece94f-6a24-4d89-9cec-aba817fc0dde","name":"Save Unknowns Contact","credentials":{"googleSheetsOAuth2Api":{"id":"UIpfEo8bJKRbhDrG","name":"Google Sheets account 3"}}},{"parameters":{"chatId":"={{ $('Safe Reply').first().json.target_chat_id }}","text":"={{ $('Safe Reply').first().json.target_message }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1600,560],"id":"6a76372f-9d21-4ed7-9218-2172c0a56a7c","name":"Send to Target Contact","webhookId":"3ce7be93-217a-4a85-9dc5-f9e827d7d4c3","credentials":{"telegramApi":{"id":"dSI1mdlTrzwdd1B8","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6b522820-1958-4867-a0d4-3c83663d57bf","leftValue":"={{ $json.target_chat_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1248,352],"id":"0c71efa6-85e9-4d55-9294-78db8f060e6c","name":"If"},{"parameters":{"documentId":{"__rl":true,"value":"1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ","mode":"list","cachedResultName":"Landtek Clients","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":85374455,"mode":"list","cachedResultName":"Clients","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ/edit#gid=85374455"},"filtersUI":{"values":[{"lookupColumn":"Telegram ID","lookupValue":"={{ $('Telegram Trigger').first().json.message.from.id }}"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1552,160],"id":"7c05c8a6-0169-41e7-8bc4-666e28b21911","name":"Get Recent Conversations","credentials":{"googleSheetsOAuth2Api":{"id":"UIpfEo8bJKRbhDrG","name":"Google Sheets account 3"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ","mode":"list","cachedResultName":"Landtek Clients","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1091564264,"mode":"list","cachedResultName":"Conversations","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ/edit#gid=1091564264"},"columns":{"mappingMode":"defineBelow","value":{"Telegram ID":"={{ $json.senderId }}","Timestamp":"={{ $now.toISO() }}","Client Name":"={{ $json.clientRow?.['Name'] || $json.senderName || '' }}","Case File":"={{ $json.case_file }}","Client Message / Caption":"={{ $('Parse Claude ').first().json.rawText }}","File Name":"={{ $json.smart_filename }}","Sent to Jonathan":"Yes","Category":"={{ $json.classification }}","Strategic Purpose":"={{ $json.context_md_content?.substring(0, 500) || '' ","Leo's Response / Summary":"={{ $json.telegram_summary_for_jonathan?.substring(0, 500) || '' }}","Company":"={{ $json.clientRow?.['Company'] || '' }}"},"matchingColumns":[],"schema":[{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telegram ID","displayName":"Telegram ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Client Name","displayName":"Client Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company","displayName":"Company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Case File","displayName":"Case File","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Client Message / Caption","displayName":"Client Message / Caption","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"File Name","displayName":"File Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Drive Link","displayName":"Drive Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Leo's Response / Summary","displayName":"Leo's Response / Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Related Action Item","displayName":"Related Action Item","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Category","displayName":"Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Strategic Purpose","displayName":"Strategic Purpose","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sent to Jonathan","displayName":"Sent to Jonathan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1328,80],"id":"8a0e2770-7051-4cde-9931-84e5efb70341","name":"Prep log Data","credentials":{"googleSheetsOAuth2Api":{"id":"UIpfEo8bJKRbhDrG","name":"Google Sheets account 3"}}},{"parameters":{"jsCode":"const d = $('Parse Claude ').first().json;\n\nreturn [{\n  json: {\n    timestamp: new Date().toISOString(),\n    telegramId: d.senderId || \"\",\n    clientName: d.clientRow?.['Name'] || d.senderName || \"Unknown\",\n    company: d.clientRow?.['Company'] || \"\",\n    caseFile: d.case_file || \"\",\n    messageCaption: (d.rawText || \"\").substring(0, 300),\n    fileName: d.fileName || \"\",\n    leoResponse: (d.telegram_summary_for_jonathan || \"\").substring(0, 300),\n    category: d.classification || \"\",\n    strategicPurpose: (d.context_md_content || \"\").substring(0, 300)\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1136,-80],"id":"25ddaaea-5f19-44e1-a83b-b827435350ee","name":"Code in JavaScript"},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger').first().json.message?.document?.file_id || $('Telegram Trigger').first().json.message?.photo?.[$('Telegram Trigger').first().json.message?.photo?.length-1]?.file_id || $('Telegram Trigger').first().json.message?.audio?.file_id || $('Telegram Trigger').first().json.message?.video?.file_id || $('Telegram Trigger').first().json.message?.voice?.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1264,-16],"id":"73ccdeba-d929-4dbf-9516-321c394fed89","name":"Get a file1","webhookId":"a47d549a-dc3a-42a8-8b92-1e4406cbf5d9","credentials":{"telegramApi":{"id":"dSI1mdlTrzwdd1B8","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"106030a9-f0be-4337-a5c7-190efd08b235","leftValue":"={{ $json.message?.document?.file_id || $json.message?.photo?.[$json.message?.photo?.length-1]?.file_id || $json.message?.audio?.file_id || $json.message?.video?.file_id || $json.message?.voice?.file_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1408,160],"id":"66881feb-2c9b-45a3-8903-ae54dc22512f","name":"Has File?"},{"parameters":{"documentId":{"__rl":true,"value":"1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ","mode":"list","cachedResultName":"Landtek Clients","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1091564264,"mode":"list","cachedResultName":"Conversations","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qV7kmSlEHuxlB62JDdxk0ak6TBxR-5yQp2_CEXNL0KQ/edit#gid=1091564264"},"filtersUI":{"values":[{"lookupColumn":"Telegram ID","lookupValue":"={{ $('Telegram Trigger').first().json.message.from.id }}"}]},"options":{"returnFirstMatch":false}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1760,160],"id":"b53f6661-0f26-4269-9df9-331343019bc8","name":"Get Clients Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"UIpfEo8bJKRbhDrG","name":"Google Sheets account 3"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-960,128],"id":"60c4f7f7-d963-4d82-9e73-1871742029d9","name":"Merge"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-640,656],"id":"84d86742-5a8d-4597-9084-5a29e19860ec","name":"Simple Memory"},{"parameters":{"jsCode":"const aiOutput = $input.first().json || {};\nconst context = $('Context Builder').first().json || {};\n\nlet raw = aiOutput.output || \"\";\nraw = raw.toString().trim();\n\nconst start = raw.indexOf('{');\nconst end = raw.lastIndexOf('}');\nconst extracted = (start !== -1 && end > start) ? raw.substring(start, end + 1) : \"\";\n\nlet parsed;\ntry {\n  parsed = JSON.parse(extracted);\n} catch (e) {\n  parsed = {\n    needs_clarification: true,\n    clarification_question: \"Sorry, I had trouble processing that. Please try again.\",\n    message_type: \"text_only\",\n    case_file: \"Unknown\",\n    telegram_reply_to_client: \"Sorry, I encountered a processing error. Please try again.\",\n    telegram_summary_for_jonathan: \"⚠️ Parse error on last message.\",\n    client_intelligence_update: \"\",\n    open_strategic_gaps: \"\",\n    anticipated_next_steps: \"\",\n    current_goals_update: \"\",\n    target_chat_id: \"\",\n    target_message: \"\"\n  };\n}\n\nparsed.rowNumber = context.rowNumber;\nparsed.chatId = context.chatId;\nparsed.isJonathan = context.isJonathan;\nparsed.fileId = context.fileId;\nparsed.fileName = context.fileName;\nparsed.senderId = context.senderId;\nparsed.senderName = context.senderName;\nparsed.rawText = context.rawText;\nparsed.clientRow = context.clientRow;\nparsed.messageType = parsed.messageType || context.messageType || \"text_only\";\nparsed.case_file = parsed.case_file || context.caseFile || \"Unknown\";\nparsed.timestamp = new Date().toISOString();\n\nparsed.client_intelligence_update = parsed.client_intelligence_update || \"\";\nparsed.open_strategic_gaps = parsed.open_strategic_gaps || \"\";\nparsed.anticipated_next_steps = parsed.anticipated_next_steps || \"\";\nparsed.telegram_reply_to_client = parsed.telegram_reply_to_client || \"\";\nparsed.current_goals_update = parsed.current_goals_update || \"\";\nparsed.target_chat_id = parsed.target_chat_id || \"\";\nparsed.target_message = parsed.target_message || \"\";\n\nreturn [{ json: parsed }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,80],"id":"8b1943b0-a9a7-4977-b92a-830969bc8c89","name":"Parse Claude "},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"=","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-384,80],"id":"47f79fa2-8624-4367-8f55-2dad80577449","name":"Move file","credentials":{"googleDriveOAuth2Api":{"id":"6KyIcqTperzB77MB","name":"Google Drive account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Get Clients Sheet","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Move file","type":"main","index":0}]]},"Context Builder":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Create file from text":{"main":[[{"node":"Prep sheet update","type":"main","index":0}]]},"Get a file":{"main":[[]]},"Prep sheet update":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Switch router":{"main":[[{"node":"Ask Clarification","type":"main","index":0}],[{"node":"Get a file","type":"main","index":0}],[{"node":"Prep sheet update","type":"main","index":0}],[],[{"node":"Save Unknowns Contact","type":"main","index":0}]]},"Reply to Client":{"main":[[{"node":"Create New Client Row","type":"main","index":0}]]},"Safe Reply":{"main":[[{"node":"If","type":"main","index":0}]]},"Create New Client Row":{"main":[[{"node":"Reply to Jonathan","type":"main","index":0}]]},"Save Unknowns Contact":{"main":[[{"node":"Safe Reply","type":"main","index":0}]]},"If":{"main":[[{"node":"Send to Target Contact","type":"main","index":0}]]},"Get Recent Conversations":{"main":[[{"node":"Has File?","type":"main","index":0}]]},"Prep log Data":{"main":[[{"node":"Safe Reply","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Prep log Data","type":"main","index":0}]]},"Get a file1":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Has File?":{"main":[[{"node":"Get a file1","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}]]},"Get Clients Sheet":{"main":[[{"node":"Get Recent Conversations","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Context Builder","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Parse Claude ":{"main":[[{"node":"Reply to Client","type":"main","index":0}]]},"Move file":{"main":[[{"node":"Parse Claude ","type":"main","index":0}]]}},"active":false,"createdAt":"2026-04-19T10:13:37.021+00:00","updatedAt":"2026-05-09T05:33:58.244+00:00"}
